<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <title>易鑫车贷体验店_一站式用车服务平台-易鑫车贷</title>
    {{{htmlWebpackPlugin.options.shim}}}
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}


<div id="join">
    <div class="banner"></div>
    <dl>
        <dd>
            <div class="items-box">
                <div class="header">四大股东 重金打造</div>
                <div class="container">
                    <ul class="logo-box">
                        <li class="logo01"></li>
                        <li class="logo02"></li>
                        <li class="logo03"></li>
                        <li class="logo04"></li>
                    </ul>
                </div>
            </div>
        </dd>

        <dd class="gray">
            <div class="items-box">
                <div class="header">盈利全方位 汽车新零售</div>
                <div class="container padT30">
                    <div class="cont-txt">
                        易鑫体验店皆在为消费者提供汽车金融产品、新车二手车交易、租赁、保险、保养、轻维修、车品等一站式综合服务，是线上线下相结合超越传统4S经营模式的新零售业态；易鑫体验店整合自身强大的线上线下资源，将金融，交易和客户体验完美结合。
                    </div>
                </div>
            </div>
        </dd>

        <dd>
            <div class="items-box">
                <div class="header">易鑫体验店，让投资更有价值</div>
                <div class="container">
                    <ul class="info item4">
                        <li class="left clrfix">
                            <div class="info-icon info-icon01"></div>
                            <div class="info-box">
                                <h3>品牌</h3>
                                <p>全国统一门店形象</p>
                                <p>线上线下推广支持</p>
                            </div>
                        </li>
                        <li class="center center1 clrfix">
                            <div class="info-icon info-icon02"></div>
                            <div class="info-box">
                                <h3>获客</h3>
                                <p>日均10000+条</p>
                                <p>全国购车线索</p>
                            </div>
                        </li>
                        <li class="center center2 clrfix">
                            <div class="info-icon info-icon03"></div>
                            <div class="info-box">
                                <h3>车源</h3>
                                <p>集中采购市场畅销车型</p>
                                <p></p>
                            </div>
                        </li>
                        <li class="right clrfix">
                            <div class="info-icon info-icon04"></div>
                            <div class="info-box">
                                <h3>资金</h3>
                                <p>库存融资</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </dd>

        <dd class="gray">
            <div class="items-box">
                <div class="header">合作申请 仅需5步</div>
                <div class="container padB0">
                    <ul class="apply">
                        <li class="step">
                            <div class="step-img step01"></div>
                            <p>提交申请书</p>
                        </li>
                        <li class="line"></li>
                        <li class="step">
                            <div class="step-img step02"></div>
                            <p>初步评审</p>
                        </li>
                        <li class="line"></li>
                        <li class="step">
                            <div class="step-img step03"></div>
                            <p>现场考察</p>
                        </li>
                        <li class="line"></li>
                        <li class="step">
                            <div class="step-img step04"></div>
                            <p>综合评估审批</p>
                        </li>
                        <li class="line"></li>
                        <li class="step">
                            <div class="step-img step05"></div>
                            <p>签署意向协议</p>
                        </li>
                    </ul>

                    <div class="condition-list">
                        <h5>申请基本条件：</h5>
                        <ol>
                            <li>对易鑫体验店充满信心，愿和易鑫长期共同发展；</li>
                            <li>经国家工商管理机构注册登记，具有合法经营凭证，注册资金不低于100万元；</li>
                            <li>企业经营状况良好，拥有汽车行业销售服务经验者将被优先考虑；</li>
                            <li>拥有符合易鑫体验店经营所需的场地所有权或使用权，场地面积，使用年限，位置等符合易鑫体验店各级别要求；</li>
                            <li>有能力组建符合易鑫体验店标准的经营管理团队，其中关键岗位人员必须具备2年以上汽车行业经验。</li>
                        </ol>
                    </div>
                </div>
            </div>
        </dd>

        <dd>
            <div class="items-box">
                <div class="header">2017年重点招商城市</div>
                <div class="container mailbox padB0">
                    <div class="city-list"></div>
                    <p class="city-aside">有意向申请单位如果在“重点招商城市”名单外的城市提交申请，易鑫将根据当地市场实际情况进行综合评估判断。</p>
                </div>
            </div>
        </dd>

        <dd class="gray">
            <div class="items-box">
                <div class="header">申请加入</div>
                <div class="container mailbox padB0">
                    <a href="http://img1.yixinfinance.com/jinrong/assets/易鑫体验店申请书3.0__XXX省_XXX市_XXX公司.docx" class="apply-doc02"></a>
                    <div>
                        <h3>联系邮箱</h3>
                        <p>tiyandianzhaoshang@yxqiche.com</p>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
</div>


{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.react}}"></script>
<script src='http://api.map.baidu.com/api?v=1.4'></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>