<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
    <script>
        var localCity={"CityId":201,"RegionId":110100,"CityName":"北京","CitySpell":"beijing","SelectCityLevel":0,"SelectCityName":null,"LocateResultType":2};
        var Source = '' || '260';//来源
        var Channel = '' || '667';//渠道
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div class="eject">
    <div class="eject_div">
        <header class="header-bar">
            <a href="javascript:history.go(-1)"></a>
            <h3 class="font-nav">身价测量</h3>
            <span id="seize-seat"></span>
            <div id="tools-nav"></div>
            <div id="navTips" class="nav-tips hide">
                <a href="/beijing/" class="home"><i></i>首页</a>
                <a href="https://i.m.daikuan.com" class="apply"><i></i>我的申请</a>
                <a href="javascript:void(0)" id="shareNavTip"><i></i>分享</a>
            </div>
        </header>
        <section id="container" class="section">
            <div class="bottom_bg so_bg">
                <div class="stars star-1"></div>
                <div class="tree-wrap">
                    <div class="bg-sprite tree-1"></div>
                    <div class="bg-sprite tree-2"></div>
                </div>
                <div class="bottom-wrap">
                </div>
                <div class="car-wrap">
                    <div class="car-box">
                        <div class="bg-sprite wheel"></div>
                        <div class="bg-sprite car"></div>
                    </div>
                </div>
                <div class="bg-sprite title-wrap shake">
                </div>
                <div class="bg-sprite btn-shadow enlarge">
                </div>
                <a class="bg-sprite btn bounceInDown2" href="">
                </a>
                <div class="text fadeInUp">
                    已有<label class="TotalNum">3,315,083</label>人通过此次测试找到了自己的爱车！
                </div>
                <div class="measurement-wrap bounceInDown">
                    <div class="measurement-box">
                        <div class="bg-sprite hook swing"></div>
                        <div class="bg-sprite measurement"></div>
                    </div>
                </div>
                <div class="social-status fadeInDown">
                    <div class="bg-sprite social-status-1 swing4"></div>
                    <div class="bg-sprite social-status-2 swing4"></div>
                    <div class="social-status-wrap2 swing2">
                        <div class="social-status-box2">
                            <div class="bg-sprite rope-1"></div>
                            <div class="bg-sprite social-status-4 swing3"></div>
                            <div class="bg-sprite rope-3"></div>
                        </div>
                    </div>
                    <div class="social-status-wrap3 swing2">
                        <div class="social-status-box3">
                            <div class="bg-sprite social-status-3 swing3"></div>
                            <div class="bg-sprite rope-5"></div>
                        </div>
                    </div>
                    <div class="social-status-wrap4 swing2">
                        <div class="social-status-box4">
                            <div class="bg-sprite rope-2"></div>
                            <div class="bg-sprite social-status-5 swing3"></div>
                            <div class="bg-sprite rope-4"></div>
                        </div>
                    </div>
                </div>
                <div class="bg-sprite stars2 flash"></div>
            </div>
        </section>
        <section id="WorthSteps" class="mea ub-img-bg">
            <div class="loan-celiangyi">
                <div class="tt ub ub-ae">
                    <div class="who">我的<span></span></div>
                    <div class="ub-f1"></div>
                    <div class="page_count"><em class="CurStep">1</em>/6</div>
                </div>
                <div class="step_con">
                    <ul class="step1">
                        <div class="ub">
                            <li class="ub-f1 ub-con" data-id="74" data-index="0">
                                <div class="step1_1 ub-img step_img"></div>
                                <div class="step_text">企业主</div>
                            </li>
                            <li class="ub-f1 ub-con" data-id="73" data-index="1">
                                <div class="step1_2 ub-img step_img"></div>
                                <div class="step_text">公务员/事业单位</div>
                            </li>
                            <li class="ub-f1 ub-con" data-id="75" data-index="2">
                                <div class="step1_4 ub-img step_img"></div>
                                <div class="step_text">个体户</div>
                            </li>
                        </div>
                        <div class="ub">
                            <li class="ub-f1 ub-con" data-id="76" data-index="3">
                                <div class="step1_3 ub-img step_img"></div>
                                <div class="step_text">上班族</div>
                            </li>
                            <li class="ub-f1 ub-con" data-id="77" data-index="4">
                                <div class="step1_5 ub-img step_img"></div>
                                <div class="step_text">无固定工作</div>
                            </li>
                            <li class="ub-f1 ub-con">　</li>
                        </div>
                    </ul>
                    <ul class="step2">
                        <div class="ub">
                            <li class="ub-f1 ub-con" data-id="109" data-index="0">
                                <div class="step2_1 ub-img step_img"></div>
                                <div class="step_text">20,000+</div>
                            </li>
                            <div class="uw3"></div>
                            <li class="ub-f1 ub-con" data-id="108" data-index="1">
                                <div class="step2_2 ub-img step_img"></div>
                                <div class="step_text">12,000-20,000+</div>
                            </li>
                            <div class="uw3"></div>
                            <li class="ub-f1 ub-con" data-id="69" data-index="2">
                                <div class="step2_3 ub-img step_img"></div>
                                <div class="step_text">8,000-12,000+</div>
                            </li>
                        </div>
                        <div class="ub">
                            <li class="ub-f1 ub-con" data-id="68" data-index="3">
                                <div class="step2_4 ub-img step_img"></div>
                                <div class="step_text">5,000-8,000+</div>
                            </li>
                            <div class="uw3"></div>
                            <li class="ub-f1 ub-con" data-id="67" data-index="4">
                                <div class="step2_5 ub-img step_img"></div>
                                <div class="step_text">3,000-5,000+</div>
                            </li>
                            <div class="uw3"></div>
                            <li class="ub-f1 ub-con" data-id="66" data-index="5">
                                <div class="step2_6 ub-img step_img"></div>
                                <div class="step_text">3,000-</div>
                            </li>
                        </div>
                    </ul>
                    <ul class="step3">
                        <div class="ub">
                            <li class="ub-f1 ub-con" data-id="71" data-index="0">
                                <div class="step3_1 ub-img step_img">
                                    <div class=""></div>
                                </div>
                                <div class="step_text">信用良好</div>
                            </li>
                            <div class="uw7"></div>
                            <li class="ub-f1 ub-con" data-id="72" data-index="1">
                                <div class="step3_2 ub-img step_img"></div>
                                <div class="step_text">少数逾期</div>
                            </li>
                        </div>
                        <div class="ub">
                            <li class="ub-f1 ub-con" data-id="70" data-index="2">
                                <div class="step3_3 ub-img step_img"></div>
                                <div class="step_text">长期多次逾期</div>
                            </li>
                            <div class="uw7"></div>
                            <li class="ub-f1 ub-con" data-id="256" data-index="3">
                                <div class="step3_4 ub-img step_img"></div>
                                <div class="step_text">无信用记录</div>
                            </li>
                        </div>
                    </ul>
                    <ul class="step4">
                        <div class="ub">
                            <li class="ub-f1 ub-con" data-id="1" data-index="0">
                                <div class="step4_1 ub-img step_img"></div>
                                <div class="step_text">本地社保</div>
                            </li>
                            <div class="uw7"></div>
                            <li class="ub-f1 ub-con" data-id="0" data-index="1">
                                <div class="step4_2 ub-img step_img"></div>
                                <div class="step_text">非本地社保</div>
                            </li>
                        </div>
                    </ul>
                    <ul class="step5">
                        <div class="ub">
                            <li class="ub-f1 ub-con" data-id="1" data-index="0">
                                <div class="step5_1 ub-img step_img"></div>
                                <div class="step_text">有公积金</div>
                            </li>
                            <div class="uw7"></div>
                            <li class="ub-f1 ub-con" data-id="0" data-index="1">
                                <div class="step5_2 ub-img step_img"></div>
                                <div class="step_text">无公积金</div>
                            </li>
                        </div>
                    </ul>
                    <ul class="step6">
                        <div class="ub">
                            <li class="ub-f1 ub-con" data-id="79" data-index="0">
                                <div class="step6_1 ub-img step_img"></div>
                                <div class="step_text">自有全款</div>
                            </li>
                            <div class="uw3"></div>
                            <li class="ub-f1 ub-con" data-id="80" data-index="1">
                                <div class="step6_2 ub-img step_img"></div>
                                <div class="step_text">自有贷款</div>
                            </li>
                            <div class="uw3"></div>
                            <li class="ub-f1 ub-con" data-id="81" data-index="2">
                                <div class="step6_3 ub-img step_img"></div>
                                <div class="step_text">租房</div>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="loan-celiangyi-bg loan-celiangyi-bg-txt">
                <div class="switch_bg first">
                    <img class="bg_white" src="../images/mea_talk_bg1.html.png">
                    <img class="bg_yellow" src="../images/mea_talk_yellow.html.png">
                </div>
                <div class="loan_bg_inner ub">
                    <div class="ub ub-ac ub-pc ub-ver ub-f1">
                        <h5>等待估算</h5>
                        <p>已有<label class="TotalNum">n</label>名网友测试过身价</p>
                    </div>
                </div>
            </div>
            <div class="loan-celiangyi-bg loan-celiangyi-bg-car">
                <dl class="loan_price_text">
                    <em>您的身价</em>
                    <dd>199-999万</dd>
                </dl>
                <div><img src="../images/mea_talk_bg1.html.png"></div>
                <div class="loan_bg_inner ub">
                    <div class="ub ub-ac ub-pc ub-ver ub-f1">
                        <div class="social_con">
                            <strong>途观</strong>
                            <p>
                                <img src="../images/0234276984_1.html.jpg" />
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- 身价测量仪 end -->
        <!-- 身价结果 start -->
        <section id="WorthResult" class="mea_result">
            <div class="loan-celiangyi loan-celiangyi-car">
                <div class="mea_result_top_img">
                    <img class="mea_result_person_img" src="../images/result_person.html.png">
                </div>
                <div class="tt social_con">你的身价为<em>10.59万</em></div>
                <div class="mea_result_title">
                    <img src="../images/result_title_bg.html.png">
                    <div>贷款买车，您可贷<i>6.1万</i></div>
                </div>
                <div class="result_img social_con"><img src="../images/0234276984_1.html.jpg" /></div>
            </div>
            <div class="result_carname"><strong>途观</strong>&nbsp;适合你</div>
            <div class="ub result_btnes">
                <div class="ub-f1 ub_div">
                    <a id="ChkList" href="/Home/Budget?ApplyDownPayment =28.75&amp;ApplyMonthRate =13308.33&source=701"><img src="../images/result_btnl_1.html.png"></a>
                    <a id="CalcAgain"><img src="../images/result_btnl_2.html.png"></a>
                </div>
            </div>
            <div style="clear:both;"></div>
        </section>
        <div class="result_cover hide"></div>
    </div>
</div>
<!-- 分享 -->
<div id="shareBox">
</div>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>