<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8"> {{{htmlWebpackPlugin.options.shim}}}
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
</head>
<body>

<script src="{{htmlWebpackPlugin.options.dll.react}}"></script>
<script type="text/javascript">

</script>

<div class="creadit-warp">

    <div id="creaditcard" class="creaditcard">
        <!--page 1-->
        <div class="section active pageone">
            {{{htmlWebpackPlugin.options.header}}}
            <div class="pageoneposition">
                <div class="pageone-banner"><img src="../img/page1bgtit.html.png" /></div>
                <!-- Swiper -->

                <div id="featureCarousel">
                    <div class="feature"><p class="tit">金卡（经典版）</p><img alt="Image Caption" src="../img/page101.html.png" /></div>
                    <div class="feature"><p class="tit">白金卡（经典版）</p><img alt="Image Caption" src="../img/page102.html.png" /></div>
                    <div class="feature"><p class="tit">金卡（青春版）</p><img alt="Image Caption" src="../img/page103.html.png" /></div>
                    <div class="feature"><p class="tit">白金卡（青春版）</p><img alt="Image Caption" src="../img/page104.html.png" /></div>
                </div>
                <!-- Swiper end-->
                <a href="javascript:;" class="pageone-btn">我要办卡</a>
                <!--bg-->
                <div class="img-bg-box"><img src="../img/page101.html.png" /></div>
            </div>
        </div>
        <!-- page 4 -->
        <div class="section pagefour">
            <div class="pagethree-box-warp">
                <h6 class="tit-h6">活动专区</h6>
                <div class="pagefour-cont">
                    <ul>
                        <li class="first-child">加油最高返还<span>15%</span>
                            <a href="javascript:void(0);" class="eventip" data-id="加油最高返还15%">活动细节 &gt;</a>
                        </li>
                        <li>全年最高<span>24次0元洗车</span>
                            <a href="javascript:void(0);" class="eventip" data-id="全年最高24次0元洗车">活动细节 &gt;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--page 2-->
        <div class="section pagetwo">
            <div class="pagetwo-box-warp">
                <h6 class="tit-h6">一站式服务</h6>
                <a href="javascript:;" class="pagetwo-btn eventip" data-id="基础服务"> 基础服务 &gt;</a>
                <ul class="pagetwo-ul">
                    <li>
                        <div class="img">
                            <span class="tag"></span>
                            <img src="../img/page201.html.png" />
                        </div>
                        <div class="info">
                            <div class="tit">专享租车</div>
                            <p class="txt">首付万元，月供低至666元</p>
                            <a href="javascript:;" class="btn eventip" data-id="专享租车">权益明细</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="../img/page202.html.png" />
                        </div>
                        <div class="info">
                            <div class="tit">投保有礼</div>
                            <p class="txt">商业险保费最低低至4折</p>
                            <a href="javascript:;" class="btn eventip" data-id="投保有礼">权益明细</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="../img/page203.html.png" />
                        </div>
                        <div class="info">
                            <div class="tit">加油返现</div>
                            <p class="txt">最高奖励为150元</p>
                            <a href="javascript:;" class="btn eventip" data-id="加油返现">权益明细</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="../img/page204.html.png" />
                        </div>
                        <div class="info">
                            <div class="tit">优惠洗车</div>
                            <p class="txt">最低7折优惠服务</p>
                            <a href="javascript:;" class="btn eventip" data-id="优惠洗车">权益明细</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="../img/page205.html.png" />
                        </div>
                        <div class="info">
                            <div class="tit">0元帮买</div>
                            <p class="txt">二手车0元帮买服务</p>
                            <a href="javascript:;" class="btn eventip" data-id="0元帮买">权益明细</a>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="../img/page206.html.png" />
                        </div>
                        <div class="info">
                            <div class="tit">延保5折</div>
                            <p class="txt">延保套餐5折优惠</p>
                            <a href="javascript:;" class="btn eventip" data-id="延保5折">权益明细</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--page 3-->
        <div class="section pagethree">
            <div class="pagethree-box-warp">
                <div class="top">
                    <h6 class="tit">开卡有礼</h6>
                    <p class="info-grey">兑换领取，先到先得</p>
                    <p class="info-grey9">中信易鑫卡客户，在卡片批核后60天内（自然日），满足3笔399计积分交易</p>
                    <ul class="info-grey6">
                        <li class="one"><span>金卡赠送6次免费洗车服务</span></li>
                        <li class="two"><span>精英白金卡赠送12次免费洗车服务</span></li>
                        <li class="three"><span>尊贵白金卡赠送24次免费洗车服务</span></li>
                    </ul>
                </div>
                <ul class="pagethree-ul">
                    <li>
                        <h6>金卡（青春版）</h6>
                        <img src="../img/page301.html.png" />
                        <a href="https://creditcard.ecitic.com/citiccard/cardshop-web/apply/toPageIndex.do?pid=CS0232&sid=ECCYXCD" class="btn" target="_blank">我要办卡</a>
                    </li>
                    <li>
                        <h6>白金卡（青春版）</h6>
                        <img src="../img/page302.html.png" />
                        <a href="https://creditcard.ecitic.com/citiccard/cardshop-web/apply/toPageIndex.do?pid=CS0230&sid=ECCYXCD" class="btn" target="_blank">我要办卡</a>
                    </li>
                    <li>
                        <h6>金卡（经典版）</h6>
                        <img src="../img/page303.html.png" />
                        <a href="https://creditcard.ecitic.com/citiccard/cardshop-web/apply/toPageIndex.do?pid=CS0233&sid=ECCYXCD" class="btn" target="_blank">我要办卡</a>
                    </li>
                    <li>
                        <h6>白金卡（经典版）</h6>
                        <img src="../img/page304.html.png" />
                        <a href="https://creditcard.ecitic.com/citiccard/cardshop-web/apply/toPageIndex.do?pid=CS0231&sid=ECCYXCD" class="btn" target="_blank">我要办卡</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!--show 1-->
    <div class="showalert-box" id="showalertbox">
        <div class="bg-black"></div>
        <div class="show-box">
            <h5 class="top"><span>--</span> <i class="close"></i></h5>
            <div class="show-box-info">
                <div class="itmes-tip"></div>
                <div class="tit"><!--活动规则--></div>
                <div class="show-box-ul"></div>

            </div>
        </div>
    </div>

</div>


<script src="{{htmlWebpackPlugin.options.dll.react}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>

</html>