<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
        var APIURL = "/";
        var xinche='';
        var BusinessLine = 550;
        var CODE_GETTING_URL='/';
        var CODE_VALIDATING_URL='/';
        var USERCENTER='/';
        var usercenter='/';
        var returnurl = "";
		    //车贷服务条款地址
		    var serviceconditionUrl = "";
		    var loginSign = false;
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<!-- 提前还款内容部分开始 -->
<article class="plan">
    <header class="header-bar">
        <a href="javascript:void(0);" onclick="window.history.go(-1);return false;"></a>
        <h1 class="font-nav">提前还款</h1>
        <span></span>
    </header>
    <blockquote>
      <header class="header-ctn">
          <div class="uf-f1 f-28">剩余应还</div>
          <div class="uf-f1 f-72">123</div>
          <div class="f-24 pad30T">截止还款日期 <span class="f-yellow">2017.3.11</span></div>
      </header>
      <dl class="detail-ctn pad30RL f-28">
          <dd class="uf">
              <div class="uf-f1">剩余本金：</div>
              <div class="uf-f2 ut-r">3123<span>(312)</span></div>
          </dd>
          <dd class="uf">
              <div class="uf-f1">当月利息：</div>
              <div class="uf-f2 ut-r">321</div>
          </dd>
          <dd class="uf">
              <div class="uf-f1">违约金：</div>
              <div class="uf-f2 ut-r">321321</div>
          </dd>
         <dd class="uf">
                  <div class="uf-f1">手续费：</div>
                  <div class="uf-f2 ut-r">500.00元</div>
              </dd>
              <dd class="uf">
                  <div class="uf-f1">抵扣金额：</div>
                  <div class="uf-f2 ut-r">500.00元</div>
              </dd>
              <dd class="uf">
                  <div class="uf-f1">费用欠款：</div>
                  <div class="uf-f2 ut-r">0.00元</div>
              </dd>
              <dd class="uf">
                  <div class="uf-f1">租金欠款：</div>
                  <div class="uf-f2 ut-r">0.00元</div>
              </dd>
              <dd class="uf">
                  <div class="uf-f1">未付保费：</div>
                  <div class="uf-f2 ut-r">-0.00元</div>
              </dd>
              <dd class="uf">
                  <div class="uf-f1">未付GPS费：</div>
                  <div class="uf-f2 ut-r">-0.00元</div>
              </dd>
              <dd class="uf">
                  <div class="uf-f1">未付车船税：</div>
                  <div class="uf-f2 ut-r">-0.00元</div>
              </dd>
      </dl>
      <blockquote class="other-detail">
          <div class="f-24 f-9">其他贷款明细</div>
          <div class="uf uf-ic">
              <div class="uf-f1 f-6">贷款总额：</div>
              <div class="uf-f1 ut-r">312312</div>
          </div>
          <div class="uf uf-ic">
              <div class="uf-f1 f-6">已还款(<span class="f-green">12<span>期</span></span>)</div>
              <div class="uf-f1 ut-r">312312</div>
          </div>
      </blockquote>
      <footer class="footer ctx">
          <p class="f-24 f-C4">以上为提前还款试算结果，如果申请提前还款，请联系当地业务人员或者致电客服。</p>
          <div class="pad30RLB">
              <a href="tel:4000-598-598" class="tel-box"><i class="tel"></i><span>4000-598-598</span></a>
          </div>
      </footer>
    </blockquote>
</article>
<!-- 提前还款内容部分结束 -->

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>