<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
        var APIURL = "/";
        var xinche='';
        var BusinessLine = 550;
        var CODE_GETTING_URL='/';
        var CODE_VALIDATING_URL='/';
        var USERCENTER='/';
        var usercenter='/';
        var returnurl = "";
		    //车贷服务条款地址
		    var serviceconditionUrl = "";
		    var loginSign = false;
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<header class="header-bar">
    <a href="javacript:void(0)" onclick="window.history.go(-1);return false;"></a>
    <h1 class="font-nav">订单详情</h1>
    <span></span>
</header>
<section class="orderDetail">
        <!--订单详情-->
        <section class="orderDet_top o_yes_payment special-tit">
            <div class="tit font-title col_black">312</div>
        </section>

        <section class="orderDet_item">
            <a href="#" class="tit_mark">
                <div class="tit font-nav col_black">商品信息</div>
            </a>
            <div class="info">
                <div class="img_box">
                    <img src="http://placehold.it/300x400"/>
                </div>
                <div class="txt_box">
                    <div class="h6_tit font-28 ut-s">123</div>
                    <div class="subscription col_grey6">报价：312</div>
                </div>
            </div>
            <div class="two_box">
                <div class="logo_box"><img src="http://placehold.it/300x300" class="logo"/></div>
                <div class="two_txt">贷款方案：123</div>
            </div>
        </section>
        <!--贷款购车明细-->
        <article class="o_yes_payment" id="yesPayment">
            <section class="orderDet_car">
                <div class="o_c_tit col_grey9"><span class="font-title col_black">贷款购车明细</span>(仅供参考)</div>
                <div class="o_c_table">
                    <div class="o_c_tr">
                        <div class="o_c_th font-28">首付 123</div>
                        <div class="o_c_td font-28">123</div>
                    </div>
                </div>
                <div class="o_c_table">
                    <div class="o_c_tr">
                        <div class="o_c_th font-28">贷款额度</div>
                        <div class="o_c_td font-28">123</div>
                    </div>
                    <div class="o_c_tr">
                        <div class="o_c_th font-28">月供</div>
                        <div class="o_c_td font-28 col_red">12 * 12 期</div>
                    </div>
                </div>
                <div class="o_c_table">
                    <div class="o_c_tr">
                        <div class="o_c_th font-28">支付方式</div>
                        <div class="o_c_td font-28">123</div>
                    </div>
                    <div class="o_c_tr">
                        <div class="o_c_th font-28">订单编号</div>
                        <div class="o_c_td font-28">312</div>
                    </div>
                    <div class="o_c_tr">
                        <div class="o_c_th font-28">下单时间</div>
                        <div class="o_c_td font-28">32</div>
                    </div>
                </div>
            </section>
        </article>
    </section>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>