<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<header class="header-bar">
    <a href="javascript:history.go(-1);"></a>
    <h1 class="font-nav">宝典</h1>
    <span class="font-title"></span>
</header>
<article>
    <h1>新车计算器|搞定梅赛德斯奔驰到底需要花费多少钱？</h1>
    <div class="des"><span>张泽  2016-06-13</span><span>来源：易鑫车贷</span></div>
    <h6>身边很多人买车的诉求看似很复杂，其实简单总结起来也无非就这两类最多，一是最热门的SUV，也不知道什么时候开始国人对SUV这么着迷了，大多会问10万左右的自主品牌SUV或者20-50万左右的合资SUV买那个好？</h6>
    <div class="content">
        <p>
            菲菲</p>
        <p>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
        <p>
            &nbsp;</p>
        <p>
            <iframe allowfullscreen="" frameborder="0" height="498" src="http://v.qq.com/iframe/player.html?vid=q0021tel89u&amp;tiny=0&amp;auto=0" width="640"></iframe>
        </p>
    </div>
</article>
<aside>
    <a href="" class="link">
        <dl>
            <dt>上一篇</dt>
            <dd>
                <h6>新车计算器|搞定梅赛德斯奔驰到底需要花
            费多少钱？</h6>
                <p>2016-06-13</p>
            </dd>
        </dl>
    </a>
    <a href="" class="link">
        <dl>
            <dt>下一篇</dt>
            <dd>
                <h6>新车计算器|搞定梅赛德斯奔驰到底需要花
            费多少钱？</h6>
                <p>2016-06-13</p>
            </dd>
        </dl>
    </a>
</aside>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>