<div class="pro-groups newcar {{#if Adviser}}has-adviser{{/if}} {{#if @root.other}}has-tijiao{{/if}}">
{{#if @root.other}}
    <a class="tijiao" data-orders="{{Orders}}" href="javascript:void(0)"><div class="uf uf-ic"> + 同时申请</div></a>
{{else}}
    {{#if Adviser}}
    <a class="adviser"  href="tel:{{Adviser.CN400}},{{Adviser.ExTen}}">电话咨询</a>
    {{/if}}
{{/if}}

{{#if Product}}
<div class="pro-info" >
    <div class="img_box">
        <img src="{{Product.CompanyLogoUrl}}">
    </div>
    <div class="item_right_box">
        <div class="dl title_box uf uf-ic">
            <div class="dt font-title tit uf-f1 ut-s">
                <span data-bind="text:PackageName">{{Product.PackageName}}</span>(<span data-bind="text:CompanyName">{{Product.CompanyName}}</span>)
            </div>
            <div class="dd"> </div>
        </div>
        <div class="dl subtitle hide" >描述</div>
        <div class="dl apply_price">
            <div class="dt">申请信息：<span class="font-28 {{requirementType Product.CommonRequirementType 'className'}}">{{requirementType Product.CommonRequirementType 'text'}}</span></div>
            {{#if @root.newversion}}
            <div class="dd price">
                <span class="font-34 em" data-bind="text:MonthlyPaymentText">{{Product.LoanCalculationInfo.MonthlyPaymentText}}</span>
                <span class="font-ctn">/月</span> 
            </div>
            {{/if}}
        </div>
        <div class="dl apply_evaluation">
            <div class="dt">
                <span data-bind="html:CommentHtml">
                    {{#if Product.CommentCount}}
                        <span class="font-title font_no_blod em">{{scoreFormat Product.CommentScore}}</span>分／<span class="evaluation"><span class="evaluation"><span>{{Product.CommentCount}}</span>条评价</span>
                    {{else}}
                        暂无评价
                    {{/if}}
                </span>
            </div>

            {{#if @root.newversion}}
            <div class="dd">
                <span>贷款成本<span data-bind="text:TotalCostText">{{Product.LoanCalculationInfo.TotalCostText}}</span></span>
            </div>
            {{/if}}
        </div>
        <div class="dl apply_tag">
            <div class="dt" >
                {{#if Product.PackageFeatureIcon1}}
                <span class="font-22 tag_one">{{Product.PackageFeatureIcon1}}</span>
                {{/if}}
                {{#if Product.PackageFeatureIcon2}}
                <span class="font-22 tag_two">{{Product.PackageFeatureIcon2}}</span>
                {{/if}}
            </div>
        </div>
        {{#if Product.isUl}}
        <ul class="img_info">
            {{#if Product.MultiLabel}}
            <li class="uf uf-ic ut-s"><i class="icon icon-hui"></i><span class="uf-f1 ut-s" data-bind="text:MultiLabel">{{multiLabel Product.MultiLabel}}</span></li>
            {{/if}}
            {{#if Product.PackageGiftValueAmount}}
            <li class="uf uf-ic ut-s" ><i class="icon icon-li"></i><span class="uf-f1 ut-s">送<span data-bind="text:PackageGiftValueAmount">{{Product.PackageGiftValueAmount}}</span>元礼包</span></li>
            {{/if}}
        </ul>
        {{/if}}
        <div class="top-tag hide">置顶</div>
    </div>
    <div class="hide"></div>
</div>
{{/if}}

</div>