<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div id="yxWrapper">

    <header class="header-bar">
        <a href="javascript:void(0)" onclick="window.history.back();return false;"></a>
        <h1 class="font-nav">车主信用卡</h1>
        <span></span>
    </header>
    <script src="http://img4.yixinfinance.com/jinrong/assets/headtype.m/headtypecookies.js?v=201709071630"></script>
    <section class="creditCard">
        <article class="card_banner_article">
            <div class="card_banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a href="http://xinyongka.m.daikuan.com/zxyixincard/index?sid=SJYXCD&amp;from=6614"><img src="http://img1.yixinfinance.com/chedai/65a14c36-7817-4e68-8c49-6dea2bdaaf63.jpg" /></a></div>
                        <div class="swiper-slide"><a href="http://www.omsys.com.cn/hqcwl/index.php?aid=aHFjd2xfNDQwN18yMzhfeWVz"><img src="http://img1.yixinfinance.com/chedai/6bd8a3ee-f603-46fd-a783-8e9f01ae7807.png" /></a></div>
                        <div class="swiper-slide"><a href="http://xinyongka.m.daikuan.com/CreditCard/Detail?productId=22&amp;source=541"><img src="http://img1.yixinfinance.com/chedai/c5f37499-e419-49b0-8ec1-3fba7b5bc4c5.png" /></a></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </article>

        <article class="body_box">
            <header class="body_tit font-title"><i class="icon_tit_te font-title"></i>特色权益</header>
            <section class="body_con">
                <ul class="three_ul">

                    <li class="item">
                        <a href="/beijing/m-1/r521/l-1/?source=539">

                            <div class="te_img"><img src="http://img1.yixinfinance.com/jinrong/newmweb/css/creditcard/img/te_01.png?v=201709071630" /></div>
                            <span class="te_text font-28">加油返现</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/beijing/m-1/r523/l-1/?source=539">

                            <div class="te_img"><img src="http://img2.yixinfinance.com/jinrong/newmweb/css/creditcard/img/te_02.png?v=201709071630" /></div>
                            <span class="te_text font-28">保养减免</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/beijing/m-1/r526/l-1/?source=539">

                            <div class="te_img"><img src="http://img4.yixinfinance.com/jinrong/newmweb/css/creditcard/img/te_03.png?v=201709071630" /></div>
                            <span class="te_text font-28">维修打折</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/beijing/m-1/r525/l-1/?source=539">

                            <div class="te_img"><img src="http://img1.yixinfinance.com/jinrong/newmweb/css/creditcard/img/te_04.png?v=201709071630" /></div>
                            <span class="te_text font-28">便捷ETC</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/beijing/m-1/r522/l-1/?source=539">

                            <div class="te_img"><img src="http://img2.yixinfinance.com/jinrong/newmweb/css/creditcard/img/te_05.png?v=201709071630" /></div>
                            <span class="te_text font-28">道路救援</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/beijing/m-1/r524/l-1/?source=539">

                            <div class="te_img"><img src="http://img4.yixinfinance.com/jinrong/newmweb/css/creditcard/img/te_06.png?v=201709071630" /></div>
                            <span class="te_text font-28">保险免息</span>
                        </a>
                    </li>
                </ul>
            </section>
        </article>

        <article class="body_box">
            <header class="body_tit font-title"><i class="icon_tit_te2"></i>办卡有礼</header>
            <section class="body_con">
                <ul class="two_ul">

                    <li class="item">
                        <a href="/beijing/m10/r-1/l-1/?source=540">

                            <div class="ban_img"><img src="http://img1.yixinfinance.com/chedai/9b27db83-7453-4f0a-8d85-b9310486fd9e.png" /></div>
                            <div class="ban_txt">
                                <span class="font-24">中信银行</span>
                                <span class="col_grey9 font-label">0元洗车权益</span>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/beijing/m3/r-1/l-1/?source=540">

                            <div class="ban_img"><img src="http://img1.yixinfinance.com/chedai/3f8d3d63-8c70-4cd0-9e5f-33b32039465d.jpg" /></div>
                            <div class="ban_txt">
                                <span class="font-24">招商银行</span>
                                <span class="col_grey9 font-label">5%加油返现 </span>
                            </div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/beijing/m-1/r-1/l-1/?source=540">

                            <div class="ban_img"><img src="http://img1.yixinfinance.com/jinrong/newmweb/css/creditcard/img/ban_06.png?v=201709071630" /></div>
                            <div class="ban_txt">
                                <span class="font-24">更多好礼</span><br />
                                <span class="col_grey9 font-label">查看更多办卡优惠</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </article>

        <header class="body_tit font-title"><i class="icon_tit_te2"></i>推荐办理<a href="/beijing/m-1/r-1/l-1/?source=540" class="pr_go_card font-24">进入选卡中心<i class="tip_r"></i></a></header>
        <article class="body_tui">
            <ul class="tui_two_ul">
                <li class="item">
                    <a href="/beijing/proc39/?source=541">

                        <div class="img_box"><img src="http://img1.yixinfinance.com/chedai/07fd9ab0-e3d2-4bd9-a056-45c66044d290.jpg" /></div>
                        <div class="tit font-ctn">
                            中信易鑫信用卡
                            <i class="font-label jian">荐</i>
                            <i class="font-label li">礼</i>
                        </div>
                        <div class="font-22 col_grey9 info">推荐理由：核卡率高，审核结果快</div>
                        <div class="col_grey6 has font-24"><span class="col_red">24</span>人已申请</div>
                        <div class="label font-label">
                            <span class="tag">POLO免费开一年</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="/beijing/proc38/?source=541">

                        <div class="img_box"><img src="http://img1.yixinfinance.com/chedai/bc0cb781-5ec4-48c1-9900-913198e76ecc.jpg" /></div>
                        <div class="tit font-ctn">
                            中信易鑫信用卡
                            <i class="font-label jian">荐</i>
                            <i class="font-label li">礼</i>
                        </div>
                        <div class="font-22 col_grey9 info">推荐理由：核卡率高，审核结果快</div>
                        <div class="col_grey6 has font-24"><span class="col_red">24</span>人已申请</div>
                        <div class="label font-label">
                            <span class="tag">POLO免费开一年</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="/beijing/proc37/?source=541">

                        <div class="img_box"><img src="http://img1.yixinfinance.com/chedai/77e1cccf-8458-4807-b80e-8e6a670032bd.jpg" /></div>
                        <div class="tit font-ctn">
                            车车信用卡
                            <i class="font-label jian">荐</i>
                        </div>
                        <div class="font-22 col_grey9 info">推荐理由：核卡率高，审核结果快</div>
                        <div class="col_grey6 has font-24"><span class="col_red">24</span>人已申请</div>
                        <div class="label font-label">
                            <span class="tag">核卡率高</span>
                            <span class="tag">审批快</span>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="/beijing/proc22/?source=541">

                        <div class="img_box"><img src="http://img1.yixinfinance.com/chedai/77cb83af-7506-4569-943f-a696a88326f9.jpg" /></div>
                        <div class="tit font-ctn">
                            交通银行沃尔玛卡
                            <i class="font-label jian">荐</i>
                        </div>
                        <div class="font-22 col_grey9 info">推荐理由：店内双倍积分，可参加“天天优惠”和“最红星期五”超市活动，积分可抵扣店内消费，回馈最高1%</div>
                        <div class="col_grey6 has font-24"><span class="col_red">851</span>人已申请</div>
                        <div class="label font-label">
                            <span class="tag">加油5%返现</span>
                            <span class="tag">沃尔玛购物5%返现</span>
                        </div>
                    </a>
                </li>

            </ul>
        </article>
    </section>
</div>




<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>