<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {{{htmlWebpackPlugin.options.shim}}}
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<div class="container">

    <aside class="layout-left">
        <header></header>
        <ul>
            <li><a href="#who" class="current">我们是谁</a></li>
            <li><a href="#what">我们做什么</a></li>
            <li><a href="#advantage">我们的优势</a></li>
            <li><a href="#media">媒体报道</a></li>
            <li><a href="#contact">联系我们</a></li>
            <li><a href="/seperate/tiyandian">易鑫体验店<span>招募中</span></a></li>
        </ul>
    </aside>

    <div class="layout-right">
        <div class="page page-who">
            <h1>我们是谁？</h1>
            <article>
                <p>易鑫集团是由腾讯、京东、百度、易车等互联网巨头注资<em>60亿</em>元打造的互联网交易平台，以人+车的大数据智能交易系统为核心驱动。整合旗下易鑫车贷App、daikuan.com、chexian.com及京东车贷频道等第三方专营合作平台，联合汽车品牌、金融机构、银行等机构，已拥有230余个汽车品牌、2300余家银行及金融机构的汽车金融产品供消费者选择。</p>
                <p>为用户提供全面的线上汽车金融产品和服务，为金融客户提供有效的全方位运营服务。截止2016年年末，总交易规模超<em>200亿元</em>，业务范围遍及全国<em>300多个</em>城市。</p>
                <h6>股东背景</h6>
                <div class="pannel">
                    <div class="left">
                        <img src="../images/gudong2.html.jpg">
                    </div>
                    <div class="right">
                        <dl>
                            <dt>易车</dt>
                            <dd>
                                <p>中国领先的汽车互联网企业易车控股有限公司</p>
                                <p>（纽交所股票代码：BITA）</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>腾讯</dt>
                            <dd>
                                <p>中国领先的互联网增值服务提供商腾讯控股有限公司</p>
                                <p>（香港联交所股票编号：00700）</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>京东</dt>
                            <dd>
                                <p>国内领先的自营电商企业京东集团</p>
                                <p>（纳斯达克票代码：JD）</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>百度</dt>
                            <dd>
                                <p>全球最大的中文搜索引擎百度</p>
                                <p>（纳斯达克股票代码：BIDU）</p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <h6>过去与未来</h6>
                <div class="hospital-box">
                    <img src="../images/future1.html.jpg">
                </div>
                <br>
            </article>
        </div>
        <div class="page page-what">
            <h1>我们做什么？</h1>
            <article>
                <p>易鑫车贷主要提供新车贷款、二手车贷款、车抵贷、汽车租赁、汽车保险、车主信用卡等产品服务，除了与多家金融机构合作外，还拥有易鑫金融自营业务，提供丰富的汽车金融产品与服务，帮您轻松解决资金问题！</p>
                <h6>新车贷款</h6>
                <p>易鑫车贷与汽车金融公司、银行等主流金融机构合作，集合了上千家金融机构的数万种金融产品，业务覆盖全国，确保每款新车都有丰富的车贷方案可供选择，并为用户提供一证贷、极速贷、低息贷、两证通、付一半、0首付、0利息等多元化金融产品和服务。现已帮助上千万购车用户成功提到新车，放款金额已超过百亿。</p>
                <h6>二手车贷款</h6>
                <p>易鑫车贷精选超过60万台优质、有保障车源信息，购车用户可直接线上选车、选贷款，每天为超过5000用户提供二手车贷款服务；申请时门槛低、放款快，最快10秒审批、并当天可放款，1对1专家级线下顾问陪同，全程为易鑫车贷的二手车贷款用户提供贴心服务。</p>
                <h6>车主贷款</h6>
                <p>车主贷款是易鑫车贷面向全国车主提供的车辆抵押贷款服务，有车就能贷，抵押后，车辆可以正常使用。易鑫车贷拥有国内专业的二手车评估技术支持，评估精准、真实、快速。因放贷快、额度高、费率低、分期易、可选抵押、机构丰富，车抵贷业务深受全国车主欢迎，累计放款金融已经数十亿。</p>
                <h6>汽车保险</h6>
                <p>易鑫车险平台集合车险行业八大品牌，在官网价格上，更有好礼相送。采用图象解析技术，只需一张行驶本照片，1分钟即获优惠车险报价，全网首发“真比价”，只买对的，不买贵的。信息找回功能，降低客户记忆成本，打造极致投保体验。在线便捷支付，微信、支付宝、京东白条方式各取所需，保单快递到家。贴心服务，易鑫车险微信公众号，为客户带来全方位的呵护。</p>
                <h6>车主信用卡</h6>
                <p>易鑫车贷将各种特色的车主信用卡进行了汇集，为车主线上选择并申请开通信用卡提升绿色通道，其中较为出众的是：易车广发联名信用卡，现办理可获得加油返现3%、保养减免、维修打折、便捷ETC、道路救援、保险免息等多种功能和服务。</p>
                <h6>汽车租赁</h6>
                <p>易鑫车贷集采主流车型，全新车辆，提供经营性租赁服务，送税送险还送牌，让您年年开新车。低月租，手续简便，提车快捷，租期灵活；两证一卡即可申请，最快当天批复；1对1线下顾问服务，全程体验来自易鑫车贷的优质服务。</p>
            </article>
        </div>
        <div class="page page-advantage">
            <h1>我们的优势</h1>
            <article>
                <dl class="page-advantage-list">
                    <dt class="icon-1 icon"></dt>
                    <dd>
                        <h5><em>海量</em>金融产品和车源，最全车型任您选</h5>
                        <p><em>40000+</em>贷款产品，每天约<em>15000+</em>用户下单，贷款总额达<em>200亿+</em>，<em>110万+</em>新车、二手车车源</p>
                    </dd>
                </dl>
                <dl class="page-advantage-list">
                    <dt class="icon-2 icon"></dt>
                    <dd>
                        <h5>在线审批放款快</h5>
                        <p>最快<em>10</em>秒钟在线审批，当日放款，部分产品实现在线实时放款</p>
                    </dd>
                </dl>
                <dl class="page-advantage-list">
                    <dt class="icon-3 icon"></dt>
                    <dd>
                        <h5>省钱省事</h5>
                        <p><em>0</em>利息<em>低</em>月供，低首付低利率 购车无压力，仅凭身份证即可贷款</p>
                    </dd>
                </dl>
                <dl class="page-advantage-list">
                    <dt class="icon-4 icon"></dt>
                    <dd>
                        <h5>私人定制</h5>
                        <p><em>2000+</em>品牌金融机构，为您定制优质金融方案</p>
                    </dd>
                </dl>
                <dl class="page-advantage-list">
                    <dt class="icon-5 icon"></dt>
                    <dd>
                        <h5><em>1对1</em>服务，全程免费</h5>
                        <p>全国<em>300+</em>城市，<em>1000+</em>专业金融服务顾问，最快2小时上门服务</p>
                    </dd>
                </dl>
            </article>
        </div>
        <div class="page page-media">
            <h1>媒体报道</h1>
            <article>
                <div class="content">
                    <div class="img-bar"></div>
                    <div class="list" id="page-media-list"></div>
                    <div id="pagination" class="page-pagination"></div>
                </div>
            </article>
        </div>
        <div class="page page-contact">
            <h1>联系我们</h1>
            <article>
                <dl>
                    <dt class="icon icon-tel"></dt>
                    <dd>
                        <span>4000-169-169（9:00-21:00）</span>
                        <em>免费咨询、建议、投诉</em>
                    </dd>
                </dl>
                <dl>
                    <dt class="icon icon-weixin"></dt>
                    <dd>
                        <span>易鑫车贷微信公众号</span>
                        <em>关注最新贷款活动，查询贷款进度</em>
                        <p>
                            <img src="../images/chexian.html.png">
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt class="icon icon-location"></dt>
                    <dd>
                        <p><span>上海&emsp;上海市浦东新区杨高南路799号陆家嘴世纪金融广场3号楼12层</span></p>
                        <p><span>北京&emsp;北京市海淀区首体南路6号新世纪日航饭店写字楼9层</span></p>
                        <div class="map-container">
                            <div class="map-item">
                                <div id="map-shanghai" class="map-element" data-location="121.541446,31.21825"></div>
                                <p>上海</p>
                            </div>
                            <div class="map-item">
                                <div id="map-beijing" class="map-element" data-location="116.335115,39.942595"></div>
                                <p>北京</p>
                            </div>
                        </div>
                    </dd>
                </dl>
            </article>
        </div>
    </div>
</div>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script type="text/javascript" src='http://api.map.baidu.com/api?v=1.4'></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>