<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>

</head>
<script>
    //车款信息
    var car = {
        masterBrandId: "9", //品牌ID
        masterBrandName: "奥迪", //品牌名称
        masterBrandLogo: "http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_9_100.png", //品牌logoUrl
        serialId: "2593", //车系ID
        serialName: "A4L",//车系名称
        serialSpell: "quanxinaodia4l", //车型全拼
        carId: "116516", //车ID
        carPrice: "24.65", //车价
        purchaseTaxRate: "" //购置税
    };
    //城市信息
    var city = {
        CityId: "201",
        CityName: "北京",
        RegionId: "110100",
        CitySpell: "beijing",
        SelectCityLevel: "2",
        SelectCityName: "北京",
        cityId: "201",
        cityName: "北京",
        regionId: "110100",
        citySpell: "beijing",
        selectCityLevel: "2",
        selectCityName: "北京"
    };
    var cityInfo = {
        cityId: "201",
        cityName: "北京",
        citySpell: "beijing",
        regionId: "110100",
        selectCityLevel: "0",
        selectCityName: ""
    }
    var ershoucheUrl = "http://test.ershouche.m.daikuan.com/";
    var xincheUrl = "http://test.xinche.daikuan.com/";
    var InterfaceUrl = {
        GetCode: 'loan/getcode',
        CheckAndThread: '/loan/getloan'
    };
    //资质信息
    var professional='上班族',monthlyincome='3000-5000',social='少数逾期',house=''
    var professionalid=76,monthlyincomeid=67,socialid=72,houseid=''
    var source=9999999

    var carInfoHtml={
        img:'http://img8.taoche.cn/1c/02170gqokx.jpg',
        fullName:'朗逸 2011款2.1L 自动品悠版朗逸 2011款2.1L 自动品悠版朗逸 2011款2.1L 自动品悠版',
        desc:'2010年/6.4万公里',
        price:'111.68万'
    }
</script>
<body>
{{{htmlWebpackPlugin.options.header}}}
<div id="yxWrapper">
    <div id="app">
        <!--头部-->
        <header class="header-bar">
            <a href="javascript:history.back();" class="nav-back"></a>
            <h1 class="font-nav">定制方案</h1>
            <span></span>
        </header>
        <!--the car info-->
        <div class="infopage" id="infopage"></div>
        <div class="template"></div>
    </div>
</div>
<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>