<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
        var InterfaceUrl = {
            GetCode: '/activity/GetCode',
            CheckAndThread: '/activity/CheckAndThread'
        };
        var carInfo = [
            {title: '首付1.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付2.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付3.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付4.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付5.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付1.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付2.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付3.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付4.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付5.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付1.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付2.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付3.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付4.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'},
            {title: '首付5.5万 月供1200元 期限36期',carinfoso: 'so',cityid:'201'}
        ];
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div id="main">
    <div slot="content">
        <div class="image-wrapper">
            <img data-echo="../images/index_01.html.jpg">
        </div>
        <div class="image-wrapper">
            <img data-echo="../images/index_02.html.jpg">
            <a href="javascript:void(0)" class="about-link"></a>
        </div>

        <div class="anchors" id="anchors">
            <ul>
                <li><a href="#city1">重庆</a></li>
                <li><a href="#city2">长春</a></li>
                <li><a href="#city3">长沙</a></li>
                <li><a href="#city4">成都</a></li>
                <li><a href="#city5">大连</a></li>
                <li><a href="#city6">合肥</a></li>
                <li><a href="#city7">南京</a></li>
                <li><a href="#city8">宁波</a></li>
                <li><a href="#city9">石家庄</a></li>
                <li><a href="#city10">苏州</a></li>
                <li><a href="#city11">太原</a></li>
                <li><a href="#city12">天津</a></li>
                <li><a href="#city13">乌鲁木齐</a></li>
                <li><a href="#city14">无锡</a></li>
                <li><a href="#city15">西安</a></li>
            </ul>
        </div>

        <div class="image-wrapper car-wrapper" id="city1">
            <img data-echo="../images/01.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city2">
            <img data-echo="../images/02.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city3">
            <img data-echo="../images/03.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city4">
            <img data-echo="../images/04.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city5">
            <img data-echo="../images/05.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city6">
            <img data-echo="../images/06.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city7">
            <img data-echo="../images/07.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city8">
            <img data-echo="../images/08.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city9">
            <img data-echo="../images/09.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city10">
            <img data-echo="../images/10.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city11">
            <img data-echo="../images/11.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city12">
            <img data-echo="../images/12.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city13">
            <img data-echo="../images/13.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city14">
            <img data-echo="../images/14.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>
        <div class="image-wrapper car-wrapper" id="city15">
            <img data-echo="../images/15.city.html.jpg">
            <a href="#" class="yiche-link"></a>
            <a href="javascript:void(0)" class="order-link"></a>
        </div>

        <div class="image-wrapper">
            <img data-echo="../images/index_08.html.jpg">
        </div>
        <a href="tel:400" class="tel-btn"></a>
    </div>
</div>

{{{htmlWebpackPlugin.options.footer}}}

<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>

</body>
</html>