<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div class="container">
  <!-- 头部轮播图start -->
  <header>
    <div class="wrapper" id="sliderBox">
      <div class="slider-wrapper theme-default">
        <div class="nivoSlider slider">
          <a href="javascript:void(0);"><img data-src="http://img1.bitautoimg.com/chedai/f71bed88-e106-4d72-a11c-63975a0a13ec.jpg" /></a>
          <a href="javascript:void(0);"><img data-src="http://img1.bitautoimg.com/chedai/df7178dd-87ce-4705-a9c3-6ce9f3644699.png" /></a>
        </div>
      </div>
    </div>
  </header>
  <!-- 头部轮播图end -->

  <article class="main">
  <!-- 旗舰店品牌start -->
    <section class="group-item">
      <header>
        <span><i class="icon icon_qi"></i>旗舰品牌</span>
      </header>
      <div class="qijian body">
        <ul class="clrfix">
          <!-- 偶数 -->
          <li class="odd">
            <div class="clrfix">
              <aside class="fl left qijianHover">
                <img src="http://img1.bitautoimg.com/chedai/ce9cb34a-c97b-4675-b944-5b89daed7ea7.png" alt="易鑫金融">
                <div class="box-txt bottomEvent"><span>易鑫金融</span> 仅需身份证，首付2成起</div>
                <a class="box-popup popupEvent" href="javascript:void(0);"></a>
              </aside>
              <aside class="fl right">
                <ul class="clrfix">
                  <li class="fl">
                    <a href="javascript:void(0);" class="car-box carEvent" data-id="3">
                      <img src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_3_100.png">
                      <span class="ut-s">宝马</span>
                    </a>
                  </li>
                  <li class="fl">
                    <a href="javascript:void(0);" class="car-box carEvent" data-id="3">
                      <img src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_3_100.png">
                      <span class="ut-s">宝马</span>
                    </a>
                  </li>
                  <li class="fl">
                    <a href="javascript:void(0);" class="car-box carEvent" data-id="3">
                      <img src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_3_100.png">
                      <span class="ut-s">宝马</span>
                    </a>
                  </li>
                  <li class="fl more">
                    <a href="javascript:void(0);">
                      <span class="more-img"></span>
                      <span class="ut-s">查看全部</span>
                    </a>
                  </li>
                </ul>
              </aside>
            </div>
          </li>
          <!-- 奇数 -->
          <li class="even">
            <div class="clrfix">
              <aside class="fl left qijianHover">
                <img src="http://img1.bitautoimg.com/chedai/ce9cb34a-c97b-4675-b944-5b89daed7ea7.png" alt="易鑫金融">
                <div class="box-txt bottomEvent"><span>易鑫金融</span> 仅需身份证，首付2成起</div>
                <a class="box-popup popupEvent" href="javascript:void(0);"></a>
              </aside>
              <aside class="fl right">
                <ul class="clrfix">
                  <li href="javascript:void(0);" class="fl">
                    <a class="car-box carEvent" data-id="3">
                      <img src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_3_100.png">
                      <span class="ut-s">宝马</span>
                    </a>
                  </li>
                  <li class="fl more">
                    <a href="javascript:void(0);">
                      <span class="more-img"></span>
                      <span class="ut-s">查看全部</span>
                    </a>
                  </li>
                </ul>
              </aside>
            </div>
          </li>
        </ul>
      </div>
    </section>
  <!-- 旗舰店品牌end -->
  <!-- 超值钜惠start -->
    <section class="group-item v-hidden">
      <header>
        <span><i class="icon icon_hui"></i>超值钜惠</span>
      </header>

      <div class="hui body huiEvent clrfix"> 
        <div class="fl swiperParent" style="width: 600px; height: 240px;">
          <a class="arrow-left" href="#"></a>
          <a class="arrow-right" href="#"></a>
          <div id="swiper" class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="javascript:void(0);">
                    <img src="http://img1.bitautoimg.com/chedai/324f833e-f3a1-4543-9f44-1aff84363541.png">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="javascript:void(0);">
                    <img src="http://img4.bitautoimg.com/chedai/39b7ec35-e8a4-4f9e-97ee-d7e4d366f3ef.png">
                  </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="hui-bottom fl clrfix">
          <a href="javascript:void(0);" class="fl btnEvent">
            <div class="ut-s hui-title">日供480，豪车贷回家</div>
            <div class="ut-s car-name">雪铁龙C3-XR</div>
            <img src="http://img2.bitautoimg.com/autoalbum/files/20160902/875/0454128758_8.jpg">
            <div class="btn">立即抢购</div>
          </a>
          <a href="javascript:void(0);" class="fl btnEvent">
            <div class="ut-s hui-title">日供480，豪车贷回家</div>
            <div class="ut-s car-name">雪铁龙C3-XR</div>
            <img src="http://img2.bitautoimg.com/autoalbum/files/20160902/875/0454128758_8.jpg">
            <div class="btn">立即抢购</div>
          </a>
        </div>

        <div class="hui-bottom clrfix">
          <a href="javascript:void(0);" class="fl btnEvent">
            <div class="ut-s hui-title">日供480，豪车贷回家</div>
            <div class="ut-s car-name">雪铁龙C3-XR</div>
            <img src="http://img2.bitautoimg.com/autoalbum/files/20160902/875/0454128758_8.jpg">
            <div class="btn">立即抢购</div>
          </a>
          <a href="javascript:void(0);" class="fl btnEvent">
            <div class="ut-s hui-title">日供480，豪车贷回家</div>
            <div class="ut-s car-name">雪铁龙C3-XR</div>
            <img src="http://img2.bitautoimg.com/autoalbum/files/20160902/875/0454128758_8.jpg">
            <div class="btn">立即抢购</div>
          </a>
          <a href="javascript:void(0);" class="fl btnEvent">
            <div class="ut-s hui-title">日供480，豪车贷回家</div>
            <div class="ut-s car-name">雪铁龙C3-XR</div>
            <img src="http://img2.bitautoimg.com/autoalbum/files/20160902/875/0454128758_8.jpg">
            <div class="btn">立即抢购</div>
          </a>
          <a href="javascript:void(0);" class="fl btnEvent">
            <div class="ut-s hui-title">日供480，豪车贷回家</div>
            <div class="ut-s car-name">雪铁龙C3-XR</div>
            <img src="http://img2.bitautoimg.com/autoalbum/files/20160902/875/0454128758_8.jpg">
            <div class="btn">立即抢购</div>
          </a>
        </div>
      </div>
    </section>
  <!-- 超值钜惠end -->
  <!-- 爆款推荐start -->
    <section class="group-item v-hidden">
      <header>
        <span><i class="icon icon_bao"></i>爆款推荐</span>
      </header>
      <div class="hot body"> 
        <ul>
          <li>
            <div>
              <div class="hot-ctn-t clrfix">
                <img class="fl" alt="上汽通用" src="http://img4.bitautoimg.com/chedai/2745445c-01f0-4499-85ce-82978f5afef0.png">
                <div class="fl ut-s">上汽通用</div>
              </div>
              <img alt="奥迪A4L汽车贷款" src="http://img2.bitautoimg.com/autoalbum/files/20160902/875/0454128758_8.jpg">
              <div class="ut-s hot-name">全新奥迪A4L</div>
              <div class="hot-ctn-b clrfix">
                <span class="fl ut-s">
                  首付
                  <font>1万起</font>
                </span>
                <span class="yuegong fl ut-s">
                  月供
                  <font>3300元起</font>
                </span>
              </div>
              <a href="javascript:void(0);"></a>
            </div>
          </li>
          <li>
            <div>
              <div class="hot-ctn-t clrfix">
                <img class="fl" alt="上汽通用" src="http://img4.bitautoimg.com/chedai/2745445c-01f0-4499-85ce-82978f5afef0.png">
                <div class="fl ut-s">上汽通用</div>
              </div>
              <img alt="奥迪A4L汽车贷款" src="http://img2.bitautoimg.com/autoalbum/files/20160902/875/0454128758_8.jpg">
              <div class="ut-s hot-name">全新奥迪A4L</div>
              <div class="hot-ctn-b clrfix">
                <span class="fl ut-s">
                  首付
                  <font>1万起</font>
                </span>
                <span class="yuegong fl ut-s">
                  月供
                  <font>3300元起</font>
                </span>
              </div>
              <a href="javascript:void(0);"></a>
            </div>
          </li>
        </ul>
      </div>
    </section>
  <!-- 爆款推荐end -->

    <!-- 底通广告位start -->
    <section id="company" class="group-item v-hidden">
      <!--合作机构轮播   替换.swiper-slide上 background-image:url()中的值即可-->
      <div class="company">
        
        <div id="footSwiper" class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="lazy" src="http://img2.bitautoimg.com/jinrong/assets/ershouche/images/index_bottom_logo_01.html.jpg?v=201608091980">
            </div>
            <div class="swiper-slide">
              <img class="lazy" src="http://img2.bitautoimg.com/jinrong/assets/ershouche/images/index_bottom_logo_01.html.jpg?v=201608091980">
            </div>
          </div>
          <div class="pagination"></div>
        </div>
      </div>
    </section>
  <!-- 底通广告位end -->
  </article>
</div>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.dll.react}}"></script>
<script type="text/javascript" src='http://api.map.baidu.com/api?v=1.4'></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>