<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
        var xincheUrl = 'http://xinche.m.daikuan.com';
        var getAlixOrdersUrl = '/WeiXinCRM/GetAlixOrders'
        var detailUrl = ''
        var planUrl = ''
        var defaultCarImg = 'http://placeholder.it/200x400'
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
 <input type='hidden' name='__RequestVerificationToken' id='__RequestVerificationToken' data-id='IBW5dAPBTVLOYGX7icp48Eja3PFJyrnpqXV1ZNVw5p-Ft_THIK8Rw3IWv-6P6Me5vfC4SFpVkoryWygbUxtXIiGdgkU1' value='IBW5dAPBTVLOYGX7icp48Eja3PFJyrnpqXV1ZNVw5p-Ft_THIK8Rw3IWv-6P6Me5vfC4SFpVkoryWygbUxtXIiGdgkU1'>
    <div id="yxWrapper">
        <div id='wx_pic' style='margin: 0 auto; display: none;'>
            <img src='http://img1.bitautoimg.com/jinrong/newmweb/images/pic300.jpg?v=201701130224' alt="易鑫车贷" />
        </div>
        

<header class="header-bar">
    <a href="javascript:" onclick="self.location=document.referrer;"></a>
    <h1 class="font-nav">信用资质</h1>
    <div class="header_left font-title" id="userQuqliEidt">编辑</div>
    <div class="header_left font-title" id="userQuqliSave">保存</div>
</header>


<section class="userQua_con">
    <section class="upf_item_box" id="Career">
        <div class="hd font-title"><i class="icon"></i>职业身份</div>
        <div class="ft_box EidtBox">
            <div class="bd font-title">上班族</div>
        </div>
        <div class="ft_box SaveBox selectBottom" data-aslider-in="occupation|fade|bottom" data-id="76">
            <div class="td font-title">
上班族            </div>
            <div class="ft"><mark class="tip_r"></mark></div>
        </div>
    </section>
    <section class="upf_item_box" id="Income">
        <div class="hd font-title"><i class="icon"></i>工资收入</div>
        <div class="ft_box EidtBox">
            <div class="bd font-title">8000-12000元</div>
        </div>
        <div class="ft_box SaveBox selectBottom" data-aslider-in="occupation2|fade|bottom" data-id="69">
            <div class="td font-title">
8000-12000元            </div>
            <div class="ft"><mark class="tip_r"></mark></div>
        </div>
    </section>
    <div class="upf_item_box_unll"></div>
    <section class="upf_item_box" id="Insurance">
        <div class="hd font-title"><i class="icon"></i>社保证明</div>
        <div class="ft_box EidtBox">
            <div class="bd font-title">有社保</div>
        </div>
        <div class="ft_box SaveBox selectBottom" data-aslider-in="occupation3|fade|bottom" data-id="1">
            <div class="td font-title">
有社保            </div>
            <div class="ft"><mark class="tip_r"></mark></div>
        </div>
    </section>
    <section class="upf_item_box" id="Funds">
        <div class="hd font-title"><i class="icon"></i>公积金</div>
        <div class="ft_box EidtBox">
            <div class="bd font-title">有公积金</div>
        </div>
        <div class="ft_box SaveBox selectBottom" data-aslider-in="occupation4|fade|bottom" data-id="1">
            <div class="td font-title">
有公积金            </div>
            <div class="ft"><mark class="tip_r"></mark></div>
        </div>
    </section>
    <div class="upf_item_box_unll"></div>
    <section class="upf_item_box" id="Credit">
        <div class="hd font-title"><i class="icon"></i>信用记录</div>
        <div class="ft_box EidtBox">
            <div class="bd font-title">信用良好</div>
        </div>
        <div class="ft_box SaveBox selectBottom" data-aslider-in="occupation5|fade|bottom" data-id="71">
            <div class="td font-title">
信用良好            </div>
            <div class="ft"><mark class="tip_r"></mark></div>
        </div>
    </section>
    <section class="upf_item_box" id="HouseState">
        <div class="hd font-title"><i class="icon"></i>住房状况</div>
        <div class="ft_box EidtBox">
            <div class="bd font-title">自有全款</div>
        </div>
        <div class="ft_box SaveBox selectBottom" data-aslider-in="occupation6|fade|bottom" data-id="79">
            <div class="td font-title">
自有全款            </div>
            <div class="ft"><mark class="tip_r"></mark></div>
        </div>
    </section>
    <div class="userQua_hint font-title">完善真实基本资质信息，可提高账户等级，同时享受快速申请急速审批等权限特权，让你的申请更加便捷高效！</div>
</section>
<!-----------------------------------弹框开始--------------------------------------------->
<!--职业身份-->
<aside class="sel-control-box" data-aslider="occupation">
    <div class="asilder_wrapper">
        <div class="sel-ctrl-fun-btn">
            <div class="sel-ctrl-close font-nav">取消</div>
            <div class="sel-ctrl-title font-nav">职业身份</div>
            <div class="sel-ctrl-complete font-nav">确定</div>
        </div>
        <div class="scroll-wrapper">
            <div class="scroll">
                <ul class="slider">
                            <li data-id="73">公务员/事业单位</li>                            <li data-id="74">企业主</li>                            <li data-id="75">个体户</li>                            <li data-id="76" class="cur">上班族</li>                            <li data-id="77">自由职业者</li>                </ul>
            </div>
        </div>
        
    </div>
</aside>

<!--工资收入-->
<aside class="sel-control-box" data-aslider="occupation2">
    <div class="asilder_wrapper">
        <div class="sel-ctrl-fun-btn">
            <div class="sel-ctrl-close font-nav">取消</div>
            <div class="sel-ctrl-title font-nav">工资收入</div>
            <div class="sel-ctrl-complete font-nav">确定</div>
        </div>
        <div class="scroll-wrapper">
            <div class="scroll">
                <ul class="slider">
                            <li data-id="66">3000元以下</li>                            <li data-id="67">3000-5000元</li>                            <li data-id="68">5000-8000元</li>                            <li data-id="69" class="cur">8000-12000元</li>                            <li data-id="108">12000-20000元</li>                            <li data-id="109">20000元以上</li>                </ul>
            </div>
        </div>
        
    </div>
</aside>

<!--社保证明-->
<aside class="sel-control-box" data-aslider="occupation3">
    <div class="asilder_wrapper">
        <div class="sel-ctrl-fun-btn">
            <div class="sel-ctrl-close font-nav">取消</div>
            <div class="sel-ctrl-title font-nav">社保证明</div>
            <div class="sel-ctrl-complete font-nav">确定</div>
        </div>
        <div class="scroll-wrapper">
            <div class="scroll">
                <ul class="slider">
                        <li data-id="1" class="cur">有社保</li>
                        <li data-id="0">无社保</li>                </ul>
            </div>
        </div>
        
    </div>
</aside>

<!--公积金-->
<aside class="sel-control-box" data-aslider="occupation4">
    <div class="asilder_wrapper">
        <div class="sel-ctrl-fun-btn">
            <div class="sel-ctrl-close font-nav">取消</div>
            <div class="sel-ctrl-title font-nav">公积金</div>
            <div class="sel-ctrl-complete font-nav">确定</div>
        </div>
        <div class="scroll-wrapper">
            <div class="scroll">
                <ul class="slider">
                        <li data-id="1" class="cur">有公积金</li>
                        <li data-id="0">无公积金</li>                </ul>
            </div>
        </div>
        
    </div>
</aside>

<!--信用记录-->
<aside class="sel-control-box" data-aslider="occupation5">
    <div class="asilder_wrapper">
        <div class="sel-ctrl-fun-btn">
            <div class="sel-ctrl-close font-nav">取消</div>
            <div class="sel-ctrl-title font-nav">信用记录</div>
            <div class="sel-ctrl-complete font-nav">确定</div>
        </div>
        <div class="scroll-wrapper">
            <div class="scroll">
                <ul class="slider">
                            <li data-id="71" class="cur">信用良好</li>                            <li data-id="72">少数逾期</li>                            <li data-id="70">多次逾期</li>                            <li data-id="256">无信用记录</li>                </ul>
            </div>
        </div>
        
    </div>
</aside>

<!--住房状况-->
<aside class="sel-control-box" data-aslider="occupation6">
    <div class="asilder_wrapper">
        <div class="sel-ctrl-fun-btn">
            <div class="sel-ctrl-close font-nav">取消</div>
            <div class="sel-ctrl-title font-nav">住房状况</div>
            <div class="sel-ctrl-complete font-nav">确定</div>
        </div>
        <div class="scroll-wrapper">
            <div class="scroll">
                <ul class="slider">
                            <li data-id="79" class="cur">自有全款</li>                            <li data-id="80">自有贷款</li>                            <li data-id="81">租赁</li>                </ul>
            </div>
        </div>
        
    </div>
</aside>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>