<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<script>
    var APIURL = "http://api.chedai.bitauto.com/";
    var xinche_m_url = "http://m.daikuan.com";
    var BusinessLine = 550;
    var noAppDown = "1018,1019,1020,1021";
    var Source = '690' || '690'; //来源
    var Channel = '' || '667'; //渠道

    //城市信息
    var city = {"CityId":201,"RegionId":110100,"CityName":"北京","CitySpell":"beijing","SelectCityLevel":0,"SelectCityName":null,"LocateResultType":0};

    var getBudgetInfoUrl = '/Home/GetBudgetInfo';
    var getBudgetInfoCountUrl = '/Home/GetBudgetInfoCount';
    var BudgetUrl = '/beijing/budget';

</script>

<div id="yxWrapper">
    <header class="header-bar">
        <a href="javascript:history.go(-1);"></a>
        <h1 class="font-nav">按预算贷车</h1>
        <span></span>
    </header>

    <dl class="search-list">
        <dt>车价（元）</dt>
        <dd>
            <span data-name="price" data-value="-1" class="choice active">不限</span>
            <span data-name="price" data-value="" class="choice">3万以下</span>
            <span data-name="price" data-value="" class="choice">3-5万</span>
            <span data-name="price" data-value="" class="choice">5-8万</span>
            <span data-name="price" data-value="" class="choice">8-10万</span>
            <span data-name="price" data-value="" class="choice">10-15万</span>
            <span data-name="price" data-value="" class="choice">15-20万</span>
            <span data-name="price" data-value="" class="choice">20-25万</span>
            <span data-name="price" data-value="" class="choice">25-30万</span>
            <span data-name="price" data-value="" class="choice">30-35万</span>
            <span data-name="price" data-value="" class="choice">35-40万</span>
            <span data-name="price" data-value="" class="choice">45万以上</span>
        </dd>

        <dt>首付（万）</dt>
        <dd>
            <span data-name="downpayment" data-value="-1" class="choice active">不限</span>
            <span data-name="downpayment" data-value="" class="choice">0首付</span>
            <span data-name="downpayment" data-value="" class="choice">3万以下</span>
            <span data-name="downpayment" data-value="" class="choice">3-5万</span>
            <span data-name="downpayment" data-value="" class="choice">5-8万</span>
            <span data-name="downpayment" data-value="" class="choice">8-10万</span>
            <span data-name="downpayment" data-value="" class="choice">10-15万</span>
            <span data-name="downpayment" data-value="" class="choice">15-20万</span>
            <span data-name="downpayment" data-value="" class="choice">20-25万</span>
            <span data-name="downpayment" data-value="" class="choice">25-30万</span>
            <span data-name="downpayment" data-value="" class="choice">30万以上</span>
        </dd>

        <dt>月供范围（元）</dt>
        <dd class="monthlypayment">
            <span data-name="monthlypayment" data-value="-1" class="choice active">不限</span>
            <span data-name="monthlypayment" data-value="" class="choice">1000元以下</span>
            <span data-name="monthlypayment" data-value="" class="choice">1000-2000元</span>
            <span data-name="monthlypayment" data-value="" class="choice">2000-3000元</span>
            <span data-name="monthlypayment" data-value="" class="choice">3000-5000元</span>
            <span data-name="monthlypayment" data-value="" class="choice">5000-8000元</span>
            <span data-name="monthlypayment" data-value="" class="choice">8000-10000元</span>
            <span data-name="monthlypayment" data-value="" class="choice">10000元以上</span>
        </dd>

        <dt>期限</dt>
        <dd>
            <span data-name="stageperiod" data-value="-1" class="choice active">不限</span>
            <span data-name="stageperiod" data-value="" class="choice">12期</span>
            <span data-name="stageperiod" data-value="" class="choice">24期</span>
            <span data-name="stageperiod" data-value="" class="choice">36期</span>
            <span data-name="stageperiod" data-value="" class="choice">48期</span>
            <span data-name="stageperiod" data-value="" class="choice">60期</span>
        </dd>

        <dt>级别</dt>
        <dd>
            <span data-name="class" data-value="-1" class="choice active">不限</span>
            <span data-name="class" data-value="" class="choice">微型车</span>
            <span data-name="class" data-value="" class="choice">小型车</span>
            <span data-name="class" data-value="" class="choice">紧凑型车</span>
            <span data-name="class" data-value="" class="choice">中型车</span>
            <span data-name="class" data-value="" class="choice">中大型车</span>
            <span data-name="class" data-value="" class="choice">豪华车</span>
            <span data-name="class" data-value="" class="choice">MPV</span>
            <span data-name="class" data-value="" class="choice">全部SUV</span>
            <span data-name="class" data-value="" class="choice">小型SUV</span>
            <span data-name="class" data-value="" class="choice">紧凑型SUV</span>
            <span data-name="class" data-value="" class="choice">中型SUV</span>
            <span data-name="class" data-value="" class="choice">中大型SUV</span>
            <span data-name="class" data-value="" class="choice">大型SUV</span>
            <span data-name="class" data-value="" class="choice">跑车</span>
            <span data-name="class" data-value="" class="choice">面包车</span>
            <span data-name="class" data-value="" class="choice">皮卡</span>
        </dd>

        <dt>选择品牌</dt>
        <dd class="brand" id="brand">
            <span data="{carMasterBrandId: 13}" data-name="brand" class="choice active"><span
                class="logo"><img
                src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_13_100.png"
                alt=""></span><span class="name">现代</span></span>
            <span data="{carMasterBrandId: 13}" data-name="brand" class="choice active"><span
                    class="logo"><img
                    src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_13_100.png"
                    alt=""></span><span class="name">现代</span></span>
            <span data="{carMasterBrandId: 13}" data-name="brand" class="choice active"><span
                    class="logo"><img
                    src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_13_100.png"
                    alt=""></span><span class="name">现代</span></span>
            <span data="{carMasterBrandId: 13}" data-name="brand" class="choice active"><span
                    class="logo"><img
                    src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_13_100.png"
                    alt=""></span><span class="name">现代</span></span>
            <span data="{carMasterBrandId: 13}" data-name="brand" class="choice "><span
                    class="logo"><img
                    src="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_13_100.png"
                    alt=""></span><span class="name">现代</span></span>
        </dd>
    </dl>
    <div class="car-select" id="car-select">
        <span class="name">更多品牌</span>
        <span class="select"><span class="text">请选择</span><i></i></span>
    </div>

    <div class="bottom-btn">
        <a href="#" class="reset" id="reset-btn">重置</a>
        <a href="#" class="view" id="view-btn">查看<span id="count">230</span>条车源</a>
    </div>
</div>

<car-selector v-bind:level="1" v-bind:show-all-brand="true"  v-bind:show-search="false" v-bind:show-recommend-brand="false" v-on:callback="selectCarCallback"></car-selector>

<!--整屏蒙层start-->
<div id="maskLayer"></div>
<!--整屏蒙层end-->
<div class="bottom-to-top">
    <img src='http://img3.bitautoimg.com/jinrong/newmweb/images/scroll-to-top-icon.png?v=201610191560' />
</div>

{{{htmlWebpackPlugin.options.footer}}}

<!-- appdownload / vue 组件 -->
<app-down></app-down>

<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>