<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
 <div id="yxWrapper">
        <div id='wx_pic' style='margin: 0 auto; display: none;'>
            <img src='http://img1.bitautoimg.com/jinrong/newmweb/images/pic300.jpg?v=201612291031' alt="易鑫车贷" />
        </div>
        


    <header class="header-bar">
        <a href="javascript:history.back();"></a>
        <h1 class="font-nav">详情记录</h1>
        <span></span>
    </header>


<section class="orderDet_records">
    <a href="javascript:;" class="tit_mark">
        <div class="tit font-nav col_black">详情记录</div>
    </a>
   
        <ul class="orderDet_ul OrderHistory_ul">
            <li class='item first'>               
                <div class="font-title"> 您的订单已提交成功</div>
                <div class="time">2016-10-27 15:35:33</div>
            </li>
            <li class='item'>               
                <div class="font-title"> 您的订单已提交成功</div>
                <div class="time">2016-10-27 15:35:33</div>
            </li>
            <li class='item'>               
                <div class="font-title"> 您的订单已提交成功</div>
                <div class="time">2016-10-27 15:35:33</div>
            </li>
            <li class='item'>               
                <div class="font-title"> 您的订单已提交成功</div>
                <div class="time">2016-10-27 15:35:33</div>
            </li>
            <li class='item'>               
                <div class="font-title"> 您的订单已提交成功</div>
                <div class="time">2016-10-27 15:35:33</div>
            </li>
        </ul>
</section>
        
        <div id="maskLayer"></div>
        <div class="bottom-to-top">
            <img src='http://img4.bitautoimg.com/jinrong/newmweb/images/scroll-to-top-icon.png?v=201612291031' />
        </div>
    </div>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>