<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <title>易鑫车贷体验店_一站式用车服务平台-易鑫车贷</title>
    {{{htmlWebpackPlugin.options.shim}}}
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}


<div id="app"></div>


{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.react}}"></script>
<script src='http://api.map.baidu.com/api?v=1.4'></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>