<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script>
    	var CODE_GETTING_URL = '/Validate/GetCode';
      var CODE_VALIDATING_URL = '/Validate/CheckCode';
      var __WX_AUTH__ = {}
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<div 
	id="main" 
	share-url="http://www.daikuan.com/" 
	card-info-name="京东E卡" 
	card-info-value="1000" 
	short-link="http://www.baidu.com/" 
	grab-card-url="/group"
	login-interface="/CouponCard/LoginAndShare" 
	username="aaa" 
	server-time="05:00:00" 
	my-coupon-url="http://www.baidu.com/" 
	time-start="09:51"
	time-end="23:00"
	v-bind:login="true" 
	v-bind:channel="false" 
	v-bind:force-other-view="false" 
	v-bind:power="66" 
	v-bind:already-received="false" 
	v-bind:is-remain="true"></div>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>