<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div id="main" 
	interface="/test/aa"
	success-link="http://sq.m.daikuan.com/secretary/index?from="
	success-link-text="下单立享优惠"
	success-more-link="https://i.m.daikuan.com/CouponCard/MyCouponCard"
	success-more-link-text="查看我的优惠"
></div>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>