<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
        var APIURL = "/";
        var xinche='';
        var BusinessLine = 550;
        var CODE_GETTING_URL='/';
        var CODE_VALIDATING_URL='/';
        var USERCENTER='/';
        var usercenter='/';
        var returnurl = "";
        var loginSign = true;
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}   
<header class="header-bar">
    <a href="javacript:void(0)" class="backGoPage" onclick="window.history.back();return false;"></a>
    <h1 class="font-nav">已联系的顾问</h1>
    <span></span>
</header>

<div class="ServedAdviserList">
    <div class="AdviserList_box">
        <ul class="AdviserList">
            <li class="itme" style="display:none">
                <div class="top">
                    <div class="time">服务时间<span class="time_span">2016-06-11 12 : 21</span></div>
                    <div class="btn_box">
                        <a href="" class="btn_org">去评价</a>
                    </div>
                </div>
                <a class="adviser_box" href="javarscript:;" target="_blank">
                    <div class="adviser_l">
                        <img src="http://t.image.bitautoimg.com/chedai/2016/06/12/0f72bf0e-6c1b-445b-97b0-b2f1797ad83a.jpg" class="pohto">
                    </div>
                    <div class="adviser_r">
                        <div class="Personal"><span class="name font_28">余波美女</span><i class="skillLevel_2"></i><span class="star_level"><s class="" style="width:80%"></s></span></div>
                        <div class="info font_24"><span class="">从业<font class="">8</font>年</span><span class="">已帮<font class="">238</font>人贷款</span><span class=""><font class="">80</font>%好评</span></div>
                        <div class="tag_box">
                            <span class="tag  font_24" data-id="749">反馈快</span>
                            <span class="tag  font_24" data-id="750">服务好</span>
                            <span class="tag  font_24" data-id="751">态度好</span>
                            <span class="tag  font_24" data-id="752">专业性强</span>
                            <span class="tag  font_24" data-id="753">细致周到</span>
                            <span class="tag  font_24" data-id="759">有责任心</span>
                        </div>
                        <div class="info_text">
                            顾问很专业，解答了我很多的问题，最终还帮我联系了银行让我很快申请到了贷款，多谢！
                            <p class="time_col">2016-04-18</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="page_top"></div>
    </div>
    <div class="noData"><img src="http://img1.bitautoimg.com/jinrong/newmweb/css/usercenter/images/no_guwen.png"><p class="font_30">暂无贷款顾问</p></div>
</div>
<!-- loading Img -->
<div class="loading">
    <img src="http://img1.bitautoimg.com/jinrong/newmweb/images/loading_gray.gif" /><br />数据加载中
</div>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>