<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
        var APIURL = "/";
        var xinche='';
        var BusinessLine = 550;
        var CODE_GETTING_URL='/';
        var CODE_VALIDATING_URL='/';
        var USERCENTER='/';
        var usercenter='/';
        var returnurl = "";
        var loginSign = true;
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}    
<header class="header-bar">
    <a href="javacript:void(0)" class="backGoPage"></a>
    <h1 class="font-nav">发布评价</h1>
    <span></span>
</header>

<article class="release-success">
    <div class="font-30">发布成功<br/>
    工作人员审核中（24小时内反馈）</div>
    <a href="" class="font-28 check-btn">查看评价</a><a href="" class="font-30 back-btn">返回首页</a>
</article>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>