<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>

</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<script>

</script>
<div id="app">
    <!--头部-->
    <header class="header-bar">
        <a href="javascript:history.back();" class="nav-back"></a>
        <h1 class="font-nav">车辆档案</h1>
        <span></span>
    </header>
    <div class="Car_files_conter">
        <ul class="Car_files_ul">
            <li class="itme">
                <div class="icon_txt"><i class="icon_place"></i>所在地</div>
                <div class="txt">北京</div>
            </li>
            <li class="itme">
                <div class="icon_txt"><i class="icon_otime"></i>上牌时间</div>
                <div class="txt">2013-04-01</div>
            </li>
            <li class="itme">
                <div class="icon_txt"><i class="icon_distance"></i>里程</div>
                <div class="txt"></div>
            </li>
            <li class="itme">
                <div class="icon_txt"><i class="icon_green"></i>环保标准</div>
                <div class="txt"></div>
            </li>
            <li class="itme">
                <div class="icon_txt"><i class="icon_type"></i>车辆类型</div>
                <div class="txt"></div>
            </li>
            <li class="itme">
                <div class="icon_txt"><i class="icon_gears"></i>变速箱</div>
                <div class="txt"></div>
            </li>
            <li class="itme">
                <div class="icon_txt"><i class="icon_maintain"></i>保养情况</div>
                <div class="txt"></div>
            </li>

            <li class="itme">
                <div class="icon_txt"><i class="icon_displacement"></i>汽车排量</div>
                <div class="txt"></div>
            </li>
            <li class="itme">
                <div class="icon_txt"><i class="icon_ptime"></i>发布时间</div>
                <div class="txt"></div>
            </li>

        </ul>
        <div class="car_banner"><img src="../../images/carFiles.html.jpg" title=""></div>
        <section class="seller_described">
            <header >
                卖家描述
            </header>
            <div class="conterInfo">人人车,黄渤代言,腾讯&amp;雷军投资,1年或2万公里质保,14天退车承诺,100%个人车源。◆◆◆【最牛售前&amp;售后承诺-人人车】100%个人二手车源,车主中拿车车况更真实，249项检测质量更可靠，价格直接与车主协商,杜绝黑心车商调表、加价！【人人车编号】bj-209532验车师：杨智程车辆名称：长安商用-欧诺 2014款 1.5L精英型车主信息：毕先生 | 公司职员车主报价：3.5万  |  新车价格：4.8万（厂家指导价）上牌时间：2014-10-01 | 行驶里程：3.20万公里过户记录：无次  |  事故记录：无重大事故排放标准：国四 | 归属地：北京【人人车服务】★担心价格？人人车承诺，直接与车主交易，跳过车商利润差价，全程透明、价格最优★售后跟的上？14天可退，1年/2万公里质保，任何问题联系人人车，一站为您处理★担心过户？人人车代办过户相关所有手续，向您收集所需材料，全程专人代办，免除来回奔波、排队的困扰，一站完成交易◆◆◆联系我<br>
            </div>
        </section>
        <div class="nothing">没有更多啦</div>
    </div>

</div>


</div>

<div class="bottom-to-top">
    <img src='http://img4.bitautoimg.com/jinrong/newmweb/images/scroll-to-top-icon.png?v=2016091322417'/>
</div>

<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}

<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>