<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {{{htmlWebpackPlugin.options.shim}}}
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<!--[if lte IE 8]>
<style>
.block-discuss .block-content .icon-tag em{
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
    margin-left: -8px\0; 
    margin-top: -10px\0;
}
</style>
<![endif]-->

<div class="baodian-home">
    <section class="baodian-home-header">
        <div class="baodian-home-header-container">
            <div class="baodian-home-header-list">
                <h2>
                    <span>热门文章</span>
                    <a href="">更多&gt;</a>
                </h2>
                <ul>
                    <li><a href=""><em>1</em><span>新车的计算器 | 搞定众泰T600到底需要多少钱？</span><i></i></a></li>
                    <li><a href=""><em>2</em><span>新车的计算器 | 搞定众泰T600到底需要多少钱？</span></a></li>
                    <li><a href=""><em>3</em><span>新车的计算器？</span></a></li>
                    <li><a href=""><em>4</em><span>新车的计算器</span></a></li>
                    <li><a href=""><em>5</em><span>新车的计算器 </span></a></li>
                    <li><a href=""><em>6</em><span>新车的计算器</span></a></li>
                </ul>
            </div>
            <div class="baodian-home-header-aside">
                <a href=""><img src="http://placehold.it/270x170"></a>
                <a href=""><img src="http://placehold.it/270x170"></a>
            </div>
            <div class="baodian-home-header-slide swiper-container">
                <div class="swiper-wrapper">
                    <a href="" class="swiper-slide"><img src="http://img1.bitautoimg.com/chedai/d311349a-5d94-47ac-b5b6-a63d1848875a.jpg"></a>
                    <a href="" class="swiper-slide"><img src="http://img1.bitautoimg.com/chedai/4aafc8d6-d2a4-405c-b9fd-78f669c28a38.jpg"></a>
                    <a href="" class="swiper-slide"><img src="http://img1.bitautoimg.com/chedai/daa105b1-33e9-4a3d-9050-a99d2afee0da.jpg"></a>
                </div>
                 <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <section class="block block-baike">
        <h2 class="block-title"><span>车贷百科</span><em><a href="" class="block-title-more">更多&gt;</a></em></h2>
        <div class="block-content">
            <div class="swiper-container block-baike-slide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="block-baike-item positive">
                            <div class="block-baike-text">
                                <h6>2020年起全面实施“国六”，刚买了国五车怎么办?</h6>
                                <p>近几日，关于北京要征收拥堵费的事情，是闹得沸沸扬扬的，追其原因无非就是为了整治交通，拥挤和降低机动车的排行水平，以此达到改善空气质量的目的。</p>
                            </div>
                            <div class="block-baike-pic">
                                <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                            </div>
                        </a>
                        <a href="" class="block-baike-item negative">
                            <div class="block-baike-pic">
                                <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                            </div>
                            <div class="block-baike-text">
                                <h6>2020年起全面实施“国六”，刚买了国五车怎么办?</h6>
                                <p>近几日，关于北京要征收拥堵费的事情，是闹得沸沸扬扬的，追其原因无非就是为了整治交通，拥挤和降低机动车的排行水平，以此达到改善空气质量的目的。</p>
                            </div>
                        </a>
                        <a href="" class="block-baike-item positive">
                            <div class="block-baike-text">
                                <h6>2020年起全面实施“国六”，刚买了国五车怎么办?</h6>
                                <p>近几日，关于北京要征收拥堵费的事情，是闹得沸沸扬扬的，追其原因无非就是为了整治交通，拥挤和降低机动车的排行水平，以此达到改善空气质量的目的。</p>
                            </div>
                            <div class="block-baike-pic">
                                <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="block-baike-item negative">
                            <div class="block-baike-pic">
                                <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                            </div>
                            <div class="block-baike-text">
                                <h6>2020年起全面实施“国六”，刚买了国五车怎么办?</h6>
                                <p>近几日，关于北京要征收拥堵费的事情，是闹得沸沸扬扬的，追其原因无非就是为了整治交通，拥挤和降低机动车的排行水平，以此达到改善空气质量的目的。</p>
                            </div>
                        </a>
                        <a href="" class="block-baike-item positive">
                            <div class="block-baike-text">
                                <h6>2020年起全面实施“国六”，刚买了国五车怎么办?</h6>
                                <p>近几日，关于北京要征收拥堵费的事情，是闹得沸沸扬扬的，追其原因无非就是为了整治交通，拥挤和降低机动车的排行水平，以此达到改善空气质量的目的。</p>
                            </div>
                            <div class="block-baike-pic">
                                <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                            </div>
                        </a>
                        <a href="" class="block-baike-item negative">
                            <div class="block-baike-pic">
                                <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                            </div>
                            <div class="block-baike-text">
                                <h6>2020年起全面实施“国六”，刚买了国五车怎么办?</h6>
                                <p>近几日，关于北京要征收拥堵费的事情，是闹得沸沸扬扬的，追其原因无非就是为了整治交通，拥挤和降低机动车的排行水平，以此达到改善空气质量的目的。</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>

    <a class="mid-bar" href="" target="_blank">
        <img src="http://placehold.it/1200x120" alt="">
    </a>

    <section class="block block-discuss">
        <h2 class="block-title"><span>百家论道</span><em><a href="" class="block-title-more">更多&gt;</a></em></h2>
        <div class="block-content">
            <ul>
                <li>
                    <a href="">
                        <span class="icon-tag"><em>第10期</em></span>
                        <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                        <h6>《极限挑战》男嘉宾都开什么车？</h6>
                        <p>2016-07-20 10:42</p>
                    </a>
                    <a href="">
                        <span class="icon-tag"><em>第10期</em></span>
                        <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                        <h6>《极限挑战》男嘉宾都开什么车？</h6>
                        <p>2016-07-20 10:42</p>
                    </a>
                    <a href="">
                        <span class="icon-tag"><em>第10期</em></span>
                        <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                        <h6>《极限挑战》男嘉宾都开什么车？</h6>
                        <p>2016-07-20 10:42</p>
                    </a>
                    <a href="">
                        <span class="icon-tag"><em>第10期</em></span>
                        <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                        <h6>《极限挑战》男嘉宾都开什么车？</h6>
                        <p>2016-07-20 10:42</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="block block-video">
        <h2 class="block-title"><span>原创视频</span><em><a href="" class="block-title-more">更多&gt;</a></em></h2>
        <div class="block-content">
            <dl>
                <dt>
                    <a href="">
                        <span class="icon-tag">04-12期</span>
                        <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                        <h6><span class="icon-play"></span><span>每周福利 | 红唇辣妹 引领视觉先锋</span></h6>
                    </a>
                </dt>
                <dd>
                    <a href="">
                        <span class="icon-tag">04-12期</span>
                        <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                        <h6><span class="icon-play"></span><span>每周福利 | 红唇辣妹 引领视觉先锋</span></h6>
                    </a>
                    <a href="">
                        <span class="icon-tag">04-12期</span>
                        <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                        <h6><span class="icon-play"></span><span>每周福利 | 红唇辣妹 引领视觉先锋</span></h6>
                    </a>
                    <a href="">
                        <span class="icon-tag">04-12期</span>
                        <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                        <h6><span class="icon-play"></span><span>每周福利 | 红唇辣妹 引领视觉先锋</span></h6>
                    </a>
                    <a href="">
                        <span class="icon-tag">04-12期</span>
                        <img src="http://img1.bitautoimg.com/chedai/79aadc6c-de7a-4d0c-b30e-ddeb7ae29a49.jpg">
                        <h6><span class="icon-play"></span><span>每周福利 | 红唇辣妹 引领视觉先锋</span></h6>
                    </a>
                </dd>
            </dl>
        </div>
    </section>

    <div class="bottom-bar">
        <a href="" target="_blank"><img src="http://placehold.it/285x200"></a>
        <a href="" target="_blank"><img src="http://placehold.it/285x200"></a>
        <a href="" target="_blank"><img src="http://placehold.it/285x200"></a>
        <a href="" target="_blank"><img src="http://placehold.it/285x200"></a>
    </div>
</div>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>