<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {{{htmlWebpackPlugin.options.shim}}}
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div class="baodian-detail">
	<div class="baodian-detail-top">
		<!-- 面包屑 -->
		<div class="baodian-detail-breadcrumbs">
			<a href="">宝典</a>
			<i>&gt;</i>
			<a href="">车主晒单</a>
			<i>&gt;</i>
			<span>文章详情</span>
		</div>
		<h1>家庭出行的良朋益友 2款合资大空间7座SUV推荐家庭出行的良朋益友 2款合资大空间7座SUV推荐家庭出</h1>
	</div>

	<div class="baodian-detail-left">

		<article>
			<div class="baodian-detail-info">
				<span class="avatar">
					<img src="http://pic.baa.bitautotech.com/avatar/120.jpg">
				</span>
				<span class="name">薛先生</span>
				<span class="date">2016-06-13</span>
				<span class="icon-browser icon">123</span>
        <span class="icon-like icon" data-liked="True" id="do-like" data-id="2">3</span>
			</div>
			<div class="baodian-detail-pannel">
                <dl>
                    <dt>
                        <div class="main-pic">
                            <a href="" target="_blank">
                                <img src="http://img4.bitautoimg.com/autoalbum/files/20160721/962/1125309620_3.jpg">
                                <!-- <img src="http://img2.bitautoimg.com/autoalbum/files/20141027/180/0918151804_1.jpg"> -->
                            </a>
                        </div>
                        <a class="link title-link" target="_blank" href="">长安CS75 2.0L 手动 豪华型 国IV2016款</a>
                        <p>
                            <span>贷款机构：</span> <a class="link" target="_blank" href="">易鑫金融</a>
                        </p>
                    </dt>
                    <dd>
                        <ul>
                            <li>
                                <span class="icon label-price"></span>
                                <p><strong>购车价格</strong><span>：</span><em>11.28万（裸车价11.28万+裸车价11.28万）</em></p>
                            </li>
                            <li>
                                <span class="icon label-vendor"></span>
                                <p><strong>厂商指导价</strong><span>：</span><em>10.5万</em></p>
                            </li>
                            <li>
                                <span class="icon label-date"></span>
                                <p><strong>购车时间</strong><span>：</span><em>2016-07-11</em></p>
                            </li>
                            <li>
                                <span class="icon label-location"></span>
                                <p><strong>购车地点</strong><span>：</span><em>广州</em></p>
                            </li>
                            <li>
                                <span class="icon label-dealer"></span>
                                <p><strong>经销商</strong><span>：</span><em>广州某某长安</em></p>
                            </li>
                            <li>
                                <span class="icon label-purpose"></span>
                                <p><strong>购车目的</strong><span>：</span><em>日常代步 旅行</em></p>
                            </li>
                        </ul>
                    </dd>
                </dl>

                <div class="line-thin-top"></div>
                <div class="line-thick-top"></div>
                <div class="line-thin-bottom"></div>
                <div class="line-thick-bottom"></div>
                <div class="pattern left-top"></div>
                <div class="pattern right-top"></div>
                <div class="pattern left-bottom"></div>
                <div class="pattern right-bottom"></div>
			</div>
			<div class="baodian-detail-content">
				  <p>近些年来国内SUV市场的火爆程度与日俱增，消费者对于SUV车型的选择倾向正在呈现更为多元化与年轻化的态势，而国人“买大不吃亏”的消费心理却在潜移默化的推动SUV车型的市场定律。同时，国家二胎政策的放开也成为了七座SUV车型销量的主要增长点，消费者家庭结构的改变导致用车需求的转型，同样也在进一步的促使大尺寸、大空间车型的热销。</p>
				  <p>对于很多喜欢SUV的消费者来说，闲暇之余的郊外旅行想必已然成为很多车主生活中必不可少的放松方式，此时就需要一款动力性能充沛、通过性表现出色的SUV来满足偶尔翻山越岭的畅快体验，另外，充足的储物空间也无疑会让出行变得更为自由惬意。下面就为大家推荐2款各方面表现优异的合资大7座SUV车型。</p>
					<p>对于很多喜</p>
					<p>对于很多喜</p>
					<p>对于很多喜</p>
					<p>对于很多喜</p>
					<p>对于很多喜</p>
					<p>
						<img src="http://img1.bitautoimg.com/chedai/932c6da8-0c5b-446f-9b0c-409feb1ac7f9.jpg"></p>

					<div class="pic-wrapper">
		        <img src="http://image.bitautoimg.com/appimage/cheyou/m/20160805/w1920_h1200_e36b5c0cf7884e4aaf54912a986bc380.jpeg">
		        <h6>就算大雨让整座城市跌倒，我也给你怀抱，忘不了谁也都背影苍老，写下我度日如年的爱的离骚。</h6>   
		      </div>
		      <div class="pic-wrapper">
		        <img src="http://image.bitautoimg.com/appimage/cheyou/m/20160805/w200_h200_f6a062a87ae7432c9651c1e4392719e6.jpeg">
		        <h6>就算大雨让整座城市跌倒，我也给你怀抱，忘不了谁也都背影苍老，写下我度日如年的爱的离骚。</h6>   
		      </div>
		      <div class="pic-wrapper">
		        <img src="http://image.bitautoimg.com/appimage/cheyou/m/20160805/w1024_h1300_b59eecc23a5e46ca9a102a40d3d99bc4.jpeg">
		        <h6>就算大雨让整座城市跌倒，我也给你怀抱，忘不了谁也都背影苍老，写下我度日如年的爱的离骚。</h6>   
		      </div>
			</div>
		</article>

		<footer class="baodian-detail-footer">
				<a href="">上一篇：家庭出行的良朋益友</a>
				<span>|</span>
				<a href="">下一篇：家庭出行的良朋益友</a>
		</footer>
	</div>

	<!-- 边栏 -->
	<aside class="baodian-detail-right">
		<div class="baodian-detail-list">
			<h3>热门文章</h3>
			<dl>
				<dt>
					<a href="" target="_blank">
						<img src="http://image.bitautoimg.com/appimage/cheyou/m/20160808/w492_h307_3cacf07fb25648c89869bdb0fbd0fa3a.jpeg">
						<h6>夏日里的一道闪电-雷凌双擎豪车我家住在黄雷凌双擎豪车我家住在黄</h6>
					</a>
				</dt>
				<dd>
					<ul>
						<li><a href="" target="_blank">夏日里的一道闪电-雷凌双擎豪车我家住在黄雷凌双擎豪车我家住在黄</a></li>
						<li><a href="" target="_blank">夏日里的一道闪电-雷凌双擎豪车我家住在黄雷凌双擎豪车我家住在黄</a></li>
						<li><a href="" target="_blank">夏日里的一道闪电-雷凌双擎豪车我家住在黄雷凌双擎豪车我家住在黄</a></li>
						<li><a href="" target="_blank">夏日里的一道闪电-雷凌双擎豪车我家住在黄雷凌双擎豪车我家住在黄</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	</aside>


</div>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>