<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <style>

    </style>
    <script>
var api_url='http://192.168.151.118:8008';

    </script>

</head>

<body>
    {{{htmlWebpackPlugin.options.header}}}
<body class="bgb">
    {{{htmlWebpackPlugin.options.header}}}
<div  id="app">
<!-- header -->
<div action="GET-HEADER" data-text="易鑫车贷"></div>
<div class="ok-icon"></div>
<div class="ok-tip">订单提交成功 !</div>
<div class="ok-text">审核结果将会在1小时以内以短信形式发放给您</div>
<a class="ok-btn">查看订单</a> 
<div class="ok-desc"></div>
</div>


<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>

</html>