<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
    <script>
        var total = 413;
        var pagesize = 20;
        var city = {"CityId":2501,"RegionId":510100,"CityName":"成都","CitySpell":"chengdu","SelectCityLevel":2,"SelectCityName":"成都","LocateResultType":0};
        var condition = 'd2';
        var getBudgetListUrl = "/home/GegBudgetList";//参数：condition,cityId,pageIndex，pageSize
        var BusinessLine = 550;
        var ADVISERAPIURL = "http://test.adviserapi.daikuan.com/";
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div class="screen-box">
    <nav class="path-nav">
        <div class="breadcrumb">
            <a href="/">首页</a>
            <i> &gt; </i>
            <a href="/beijing/suvgainianche-3453/m121181?source=">按预算贷车</a>
        </div>
        <div class="filter-tags">
            <div class="tag">
                车价：3万以下
                <a class="close-btn" href="javascript:void(0)"></a>
            </div>
            <div class="tag">
                首付款：3万以下
                <a class="close-btn" href="javascript:void(0)"></a>
            </div>
        </div>
    </nav>
    <section class="budget-filter">
        <div class="condition-wrap">
            <dl>
                <dt>车价：</dt>
                <dd><a href="###" class="active">不限</a></dd>
                <dd><a href="###">3万以下</a></dd>
                <dd><a href="###">3-5万</a></dd>
                <dd><a href="###">5-8万</a></dd>
                <dd><a href="###">8-10万</a></dd>
                <dd><a href="###">10-15万</a></dd>
                <dd><a href="###">15-20万</a></dd>
                <dd><a href="###">20-25万</a></dd>
                <dd><a href="###">25-30万</a></dd>
                <dd><a href="###">30-35万</a></dd>
                <dd><a href="###">35-40万</a></dd>
                <dd><a href="###">45万以上</a></dd>
                <dd>
                    <form class="custom">
                        <span class="tit">自定义</span>
                        <label>￥<input type="text" name="" /></label>
                        <span>-</span>
                        <label>￥<input type="text" name="" /></label>
                        <button type="submit">确定</button>
                    </form>
                </dd>
            </dl>
        </div>
        <div class="condition-wrap">
            <dl>
                <dt>首付款：</dt>
                <dd><a href="###" class="active">不限</a></dd>
                <dd><a href="###">0首付</a></dd>
                <dd><a href="###">3万以下</a></dd>
                <dd><a href="###">3-5万</a></dd>
                <dd><a href="###">5-8万</a></dd>
                <dd><a href="###">8-10万</a></dd>
                <dd><a href="###">10-15万</a></dd>
                <dd><a href="###">15-20万</a></dd>
                <dd><a href="###">20-25万</a></dd>
                <dd><a href="###">25-30万</a></dd>
                <dd><a href="###">30万以上</a></dd>
            </dl>
        </div>
        <div class="condition-wrap">
            <dl>
                <dt>月供范围：</dt>
                <dd><a href="###" class="active">不限</a></dd>
                <dd><a href="###">1000元以下</a></dd>
                <dd><a href="###">1000-2000元</a></dd>
                <dd><a href="###">2000-3000元</a></dd>
                <dd><a href="###">3000-5000元</a></dd>
                <dd><a href="###">5000-8000元</a></dd>
                <dd><a href="###">8000-10000元</a></dd>
                <dd><a href="###">10000元以上</a></dd>
                <dd>
                    <form class="custom">
                        <span class="tit">自定义</span>
                        <label>￥<input type="text" name="" /></label>
                        <span>-</span>
                        <label>￥<input type="text" name="" /></label>
                        <button type="submit">确定</button>
                    </form>
                </dd>
            </dl>
        </div>
        <div class="condition-wrap">
            <dl>
                <dt>期限：</dt>
                <dd><a href="###" class="active">不限</a></dd>
                <dd><a href="###">12期</a></dd>
                <dd><a href="###">24期</a></dd>
                <dd><a href="###">36期</a></dd>
                <dd><a href="###">48期</a></dd>
                <dd><a href="###">60期</a></dd>
            </dl>
        </div>
        <div class="condition-wrap">
            <dl>
                <dt>级别：</dt>
                <dd><a href="###" class="active">不限</a></dd>
                <dd><a href="###">微型车</a></dd>
                <dd><a href="###">小型车</a></dd>
                <dd><a href="###">紧凑型车</a></dd>
                <dd><a href="###">中型车</a></dd>
                <dd><a href="###">中大型车</a></dd>
                <dd><a href="###">豪华车</a></dd>
                <dd><a href="###">MPV</a></dd>
                <dd><a href="###">全部SUV</a></dd>
                <dd><a href="###">小型SUV</a></dd>
                <dd><a href="###">紧凑型SUV</a></dd>
                <dd><a href="###">中型SUV</a></dd>
                <dd><a href="###">中大型SUV</a></dd>
                <dd><a href="###">大型SUV</a></dd>
                <dd><a href="###">跑车</a></dd>
                <dd><a href="###">面包车</a></dd>
                <dd><a href="###">皮卡</a></dd>
            </dl>
        </div>
        <div class="condition-wrap last">
            <dl>
                <dt>选择品牌：</dt>
                <dd><a href="###" class="active">不限</a></dd>
                <dd><a href="###">大众</a></dd>
                <dd><a href="###">哈弗</a></dd>
                <dd><a href="###">众泰</a></dd>
                <dd><a href="###">日产</a></dd>
                <dd><a href="###">宝骏</a></dd>
                <dd><a href="###">现代</a></dd>
                <dd><a href="###">丰田</a></dd>
                <dd><a href="###">奥迪</a></dd>
                <dd><a href="###">奔驰</a></dd>
                <dd><a href="###">宝马</a></dd>
                <dd id="more-brand-btn">
                    <a href="###">更多品牌</a>
                    <div id="moreBrand">
                        <div class="triangle-icon"></div>
                        <div class="brand-section brand-section-1">
                            <p>
                                <span class="ba">A</span>
                        <span class="bn">
                            <a data-id="9" href="javascript:void(0);">奥迪</a>
                            <a data-id="92" href="javascript:void(0);">阿尔法·罗密欧</a>
                            <a data-id="97" href="javascript:void(0);">阿斯顿·马丁</a>
                            <a data-id="228" href="javascript:void(0);">Artega</a>
                        </span>
                            </p>
                            <p>
                                <span class="ba">B</span>
                        <span class="bn">
                            <a data-id="2" href="javascript:void(0);">奔驰</a>
                            <a data-id="3" href="javascript:void(0);">宝马</a>
                            <a data-id="5" href="javascript:void(0);">标致</a>
                            <a data-id="14" href="javascript:void(0);">北汽制造</a>
                            <a data-id="15" href="javascript:void(0);">比亚迪</a>
                            <a data-id="26" href="javascript:void(0);">本田</a>
                            <a data-id="59" href="javascript:void(0);">奔腾</a>
                            <a data-id="82" href="javascript:void(0);">保时捷</a>
                            <a data-id="85" href="javascript:void(0);">宾利</a>
                            <a data-id="127" href="javascript:void(0);">别克</a>
                            <a data-id="135" href="javascript:void(0);">布加迪</a>
                            <a data-id="157" href="javascript:void(0);">宝骏</a>
                            <a data-id="163" href="javascript:void(0);">北京</a>
                            <a data-id="168" href="javascript:void(0);">北汽威旺</a>
                            <a data-id="172" href="javascript:void(0);">巴博斯</a>
                            <a data-id="184" href="javascript:void(0);">保斐利</a>
                            <a data-id="195" href="javascript:void(0);">北汽绅宝</a>
                            <a data-id="211" href="javascript:void(0);">北汽幻速</a>
                            <a data-id="216" href="javascript:void(0);">北汽新能源</a>
                            <a data-id="236" href="javascript:void(0);">宝沃</a>
                        </span>
                            </p>
                            <p><span class="ba">C</span><span class="bn"><a data-id="21" href="javascript:void(0);">长城</a><a data-id="129" href="javascript:void(0);">昌河</a><a data-id="136" href="javascript:void(0);">长安轿车</a><a data-id="159" href="javascript:void(0);">长安商用</a><a data-id="221" href="javascript:void(0);">成功</a><a data-id="230" href="javascript:void(0);">长安跨越</a></span></p><p><span class="ba">D</span><span class="bn"><a data-id="8" href="javascript:void(0);">大众</a><a data-id="29" href="javascript:void(0);">东南</a><a data-id="113" href="javascript:void(0);">道奇</a><a data-id="115" href="javascript:void(0);">东风风行</a><a data-id="141" href="javascript:void(0);">东风风神</a><a data-id="179" href="javascript:void(0);">DS</a><a data-id="197" href="javascript:void(0);">东风风度</a><a data-id="205" href="javascript:void(0);">东风小康</a><a data-id="215" href="javascript:void(0);">东风御风</a><a data-id="235" href="javascript:void(0);">东风·郑州日产</a><a data-id="253" href="javascript:void(0);">东风风光</a></span></p><p><span class="ba">F</span><span class="bn"><a data-id="7" href="javascript:void(0);">丰田</a><a data-id="17" href="javascript:void(0);">福特</a><a data-id="40" href="javascript:void(0);">菲亚特</a><a data-id="67" href="javascript:void(0);">福迪</a><a data-id="91" href="javascript:void(0);">法拉利</a><a data-id="128" href="javascript:void(0);">福田</a><a data-id="199" href="javascript:void(0);">飞驰商务车</a><a data-id="208" href="javascript:void(0);">福汽启腾</a></span></p><p><span class="ba">G</span><span class="bn"><a data-id="63" href="javascript:void(0);">广汽吉奥</a><a data-id="109" href="javascript:void(0);">GMC</a><a data-id="110" href="javascript:void(0);">光冈</a><a data-id="133" href="javascript:void(0);">广汽日野</a><a data-id="147" href="javascript:void(0);">广汽传祺</a><a data-id="182" href="javascript:void(0);">观致汽车</a><a data-id="252" href="javascript:void(0);">广汽中兴</a></span></p><p><span class="ba">H</span><span class="bn"><a data-id="31" href="javascript:void(0);">哈飞</a><a data-id="32" href="javascript:void(0);">海马</a><a data-id="45" href="javascript:void(0);">汇众</a><a data-id="52" href="javascript:void(0);">黄海</a><a data-id="58" href="javascript:void(0);">红旗</a><a data-id="112" href="javascript:void(0);">华泰</a><a data-id="149" href="javascript:void(0);">海马商用车</a><a data-id="170" href="javascript:void(0);">海格</a><a data-id="181" href="javascript:void(0);">恒天汽车</a><a data-id="196" href="javascript:void(0);">哈弗</a><a data-id="225" href="javascript:void(0);">华颂</a><a data-id="251" href="javascript:void(0);">华泰新能源</a><a data-id="259" href="javascript:void(0);">汉腾</a><a data-id="262" href="javascript:void(0);">华凯</a></span></p><p><span class="ba">J</span><span class="bn"><a data-id="4" href="javascript:void(0);">Jeep</a><a data-id="34" href="javascript:void(0);">吉利汽车</a><a data-id="35" href="javascript:void(0);">江淮</a><a data-id="37" href="javascript:void(0);">江铃</a><a data-id="38" href="javascript:void(0);">江南</a><a data-id="39" href="javascript:void(0);">金杯</a><a data-id="57" href="javascript:void(0);">金龙</a><a data-id="98" href="javascript:void(0);">捷豹</a><a data-id="152" href="javascript:void(0);">九龙</a><a data-id="161" href="javascript:void(0);">金旅客车</a><a data-id="224" href="javascript:void(0);">江铃集团轻汽</a></span></p><p><span class="ba">K</span><span class="bn"><a data-id="51" href="javascript:void(0);">克莱斯勒</a><a data-id="107" href="javascript:void(0);">凯迪拉克</a><a data-id="145" href="javascript:void(0);">科尼赛克</a><a data-id="150" href="javascript:void(0);">开瑞</a><a data-id="188" href="javascript:void(0);">卡尔森</a><a data-id="212" href="javascript:void(0);">KTM</a><a data-id="213" href="javascript:void(0);">卡威</a><a data-id="218" href="javascript:void(0);">科瑞斯的</a><a data-id="220" href="javascript:void(0);">凯翼</a><a data-id="241" href="javascript:void(0);">康迪全球鹰电动汽车</a></span></p><p><span class="ba">L</span><span class="bn"><a data-id="16" href="javascript:void(0);">铃木</a><a data-id="36" href="javascript:void(0);">陆风</a><a data-id="76" href="javascript:void(0);">力帆</a><a data-id="80" href="javascript:void(0);">劳斯莱斯</a><a data-id="83" href="javascript:void(0);">路特斯</a><a data-id="86" href="javascript:void(0);">兰博基尼</a><a data-id="94" href="javascript:void(0);">雷克萨斯</a><a data-id="95" href="javascript:void(0);">林肯</a><a data-id="96" href="javascript:void(0);">路虎</a><a data-id="99" href="javascript:void(0);">雷诺</a><a data-id="146" href="javascript:void(0);">莲花</a><a data-id="153" href="javascript:void(0);">猎豹汽车</a><a data-id="166" href="javascript:void(0);">理念</a><a data-id="200" href="javascript:void(0);">蓝海房车</a><a data-id="229" href="javascript:void(0);">雷丁电动</a><a data-id="249" href="javascript:void(0);">陆地方舟</a></span></p></div><div class="brand-section brand-section-2"><p><span class="ba">M</span><span class="bn"><a data-id="18" href="javascript:void(0);">马自达</a><a data-id="79" href="javascript:void(0);">MG</a><a data-id="81" href="javascript:void(0);">MINI</a><a data-id="93" href="javascript:void(0);">玛莎拉蒂</a><a data-id="183" href="javascript:void(0);">迈凯伦</a><a data-id="201" href="javascript:void(0);">摩根</a></span></p><p><span class="ba">N</span><span class="bn"><a data-id="155" href="javascript:void(0);">纳智捷</a></span></p><p><span class="ba">O</span><span class="bn"><a data-id="84" href="javascript:void(0);">讴歌</a><a data-id="171" href="javascript:void(0);">欧朗</a><a data-id="243" href="javascript:void(0);">欧联</a></span></p><p><span class="ba">Q</span><span class="bn"><a data-id="28" href="javascript:void(0);">起亚</a><a data-id="42" href="javascript:void(0);">奇瑞</a><a data-id="43" href="javascript:void(0);">庆铃</a><a data-id="156" href="javascript:void(0);">启辰</a></span></p><p><span class="ba">R</span><span class="bn"><a data-id="30" href="javascript:void(0);">日产</a><a data-id="78" href="javascript:void(0);">荣威</a></span></p><p><span class="ba">S</span><span class="bn"><a data-id="10" href="javascript:void(0);">斯柯达</a><a data-id="25" href="javascript:void(0);">三菱</a><a data-id="89" href="javascript:void(0);">smart</a><a data-id="102" href="javascript:void(0);">双龙</a><a data-id="111" href="javascript:void(0);">斯巴鲁</a><a data-id="137" href="javascript:void(0);">世爵</a><a data-id="165" href="javascript:void(0);">上汽大通MAXUS</a><a data-id="169" href="javascript:void(0);">陕汽通家</a><a data-id="209" href="javascript:void(0);">山姆</a><a data-id="239" href="javascript:void(0);">赛麟SALEEN</a><a data-id="242" href="javascript:void(0);">STARTECH</a><a data-id="244" href="javascript:void(0);">上喆汽车</a><a data-id="260" href="javascript:void(0);">斯威</a></span></p><p><span class="ba">T</span><span class="bn"><a data-id="175" href="javascript:void(0);">腾势</a><a data-id="189" href="javascript:void(0);">特斯拉</a><a data-id="202" href="javascript:void(0);">泰卡特</a></span></p><p><span class="ba">W</span><span class="bn"><a data-id="19" href="javascript:void(0);">沃尔沃</a><a data-id="48" href="javascript:void(0);">五菱</a><a data-id="132" href="javascript:void(0);">五十铃</a><a data-id="140" href="javascript:void(0);">威麟</a><a data-id="186" href="javascript:void(0);">威兹曼</a><a data-id="207" href="javascript:void(0);">潍柴英致</a><a data-id="247" href="javascript:void(0);">潍柴欧睿</a></span></p><p><span class="ba">X</span><span class="bn"><a data-id="6" href="javascript:void(0);">雪铁龙</a><a data-id="13" href="javascript:void(0);">现代</a><a data-id="49" href="javascript:void(0);">雪佛兰</a><a data-id="71" href="javascript:void(0);">新凯</a><a data-id="87" href="javascript:void(0);">西雅特</a><a data-id="174" href="javascript:void(0);">星客特</a></span></p><p><span class="ba">Y</span><span class="bn"><a data-id="41" href="javascript:void(0);">依维柯</a><a data-id="53" href="javascript:void(0);">一汽</a><a data-id="75" href="javascript:void(0);">永源</a><a data-id="100" href="javascript:void(0);">英菲尼迪</a><a data-id="138" href="javascript:void(0);">野马汽车</a><a data-id="194" href="javascript:void(0);">扬州亚星客车</a><a data-id="258" href="javascript:void(0);">驭胜</a><a data-id="268" href="javascript:void(0);">雅宾纳</a></span></p><p><span class="ba">Z</span><span class="bn"><a data-id="33" href="javascript:void(0);">中兴</a><a data-id="60" href="javascript:void(0);">中华</a><a data-id="77" href="javascript:void(0);">众泰</a><a data-id="167" href="javascript:void(0);">中欧奔驰房车</a><a data-id="214" href="javascript:void(0);">浙江卡尔森</a><a data-id="233" href="javascript:void(0);">知豆</a><a data-id="246" href="javascript:void(0);">重汽王牌</a></span></p></div></div>
                </dd>
            </dl>
        </div>
    </section>  <!-- end of budget-filter -->

    <div class="sort-wrap">
        <ul class="sort">
            <li><a href="###" class="active">默认排序</a></li>
            <li><a href="###" class="up">价格</a></li>
        </ul>
        <div class="count">
            为您筛选出<em>0条</em>车源
        </div>
    </div> <!-- end of sort-wrap -->

    <div class="no_product clrfix">
        <div class="fl"><img src="../../images/no_product.html.png"></div>
        <div class="fl">
          <h4>抱歉哦！没有找到匹配的金融产品~</h4>
          <p class="tit">小鑫建议您：</p>
          <p>1、调整首付或减少筛选条件</p>
          <p>2、免费打电话，免费获得专业的贷款建议</p>
          <div id="noProTelChannel" class="user-box"></div>
          <!-- 建议您修改筛选条件，或帮您<a href="@ConfigInfo.GetValueByKey("LoanOrderApplyUrl")Secretary" target="_blank">定制金融方案</a> -->
        </div>
    </div>

    <h3 class="content-title">为您推荐以下车源</h3>
    <div class="carlist">
        <ul>
            <li>
                <div class="car-card">
                    <div class="photos">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="http://img1.bitautoimg.com/autoalbum/files/20140902/564/17191156453810_3582716_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img4.bitautoimg.com/autoalbum/files/20140902/560/17191156059886_3582715_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img3.bitautoimg.com/autoalbum/files/20140902/516/17191151654530_3582714_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img2.bitautoimg.com/autoalbum/files/20140902/444/17191144452393_3582713_3.JPG" alt="" /></div>
                            </div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="text">
                        <dl>
                            <dt>
                                <span class="name"><a href="###">五菱荣光</a></span>
                                <span class="price">9.98-14.48万</span>
                            </dt>
                            <dd>排量 1.8T | 油耗 7.5-9.6L</dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <div class="car-card">
                    <div class="photos">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="http://img1.bitautoimg.com/autoalbum/files/20140902/564/17191156453810_3582716_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img4.bitautoimg.com/autoalbum/files/20140902/560/17191156059886_3582715_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img3.bitautoimg.com/autoalbum/files/20140902/516/17191151654530_3582714_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img2.bitautoimg.com/autoalbum/files/20140902/444/17191144452393_3582713_3.JPG" alt="" /></div>
                            </div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="text">
                        <dl>
                            <dt>
                                <span class="name"><a href="###">五菱荣光</a></span>
                                <span class="price">9.98-14.48万</span>
                            </dt>
                            <dd>排量 1.8T | 油耗 7.5-9.6L</dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <div class="car-card">
                    <div class="photos">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="http://img1.bitautoimg.com/autoalbum/files/20140902/564/17191156453810_3582716_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img4.bitautoimg.com/autoalbum/files/20140902/560/17191156059886_3582715_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img3.bitautoimg.com/autoalbum/files/20140902/516/17191151654530_3582714_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img2.bitautoimg.com/autoalbum/files/20140902/444/17191144452393_3582713_3.JPG" alt="" /></div>
                            </div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="text">
                        <dl>
                            <dt>
                                <span class="name"><a href="###">五菱荣光</a></span>
                                <span class="price">9.98-14.48万</span>
                            </dt>
                            <dd>排量 1.8T | 油耗 7.5-9.6L</dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <div class="car-card">
                    <div class="photos">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="http://img1.bitautoimg.com/autoalbum/files/20140902/564/17191156453810_3582716_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img4.bitautoimg.com/autoalbum/files/20140902/560/17191156059886_3582715_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img3.bitautoimg.com/autoalbum/files/20140902/516/17191151654530_3582714_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img2.bitautoimg.com/autoalbum/files/20140902/444/17191144452393_3582713_3.JPG" alt="" /></div>
                            </div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="text">
                        <dl>
                            <dt>
                                <span class="name"><a href="###">五菱荣光</a></span>
                                <span class="price">9.98-14.48万</span>
                            </dt>
                            <dd>排量 1.8T | 油耗 7.5-9.6L</dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <div class="car-card">
                    <div class="photos">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="http://img1.bitautoimg.com/autoalbum/files/20140902/564/17191156453810_3582716_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img4.bitautoimg.com/autoalbum/files/20140902/560/17191156059886_3582715_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img3.bitautoimg.com/autoalbum/files/20140902/516/17191151654530_3582714_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img2.bitautoimg.com/autoalbum/files/20140902/444/17191144452393_3582713_3.JPG" alt="" /></div>
                            </div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="text">
                        <dl>
                            <dt>
                                <span class="name"><a href="###">五菱荣光</a></span>
                                <span class="price">9.98-14.48万</span>
                            </dt>
                            <dd>排量 1.8T | 油耗 7.5-9.6L</dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <div class="car-card">
                    <div class="photos">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="http://img1.bitautoimg.com/autoalbum/files/20140902/564/17191156453810_3582716_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img4.bitautoimg.com/autoalbum/files/20140902/560/17191156059886_3582715_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img3.bitautoimg.com/autoalbum/files/20140902/516/17191151654530_3582714_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img2.bitautoimg.com/autoalbum/files/20140902/444/17191144452393_3582713_3.JPG" alt="" /></div>
                            </div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="text">
                        <dl>
                            <dt>
                                <span class="name"><a href="###">五菱荣光</a></span>
                                <span class="price">9.98-14.48万</span>
                            </dt>
                            <dd>排量 1.8T | 油耗 7.5-9.6L</dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <div class="car-card">
                    <div class="photos">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="http://img1.bitautoimg.com/autoalbum/files/20140902/564/17191156453810_3582716_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img4.bitautoimg.com/autoalbum/files/20140902/560/17191156059886_3582715_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img3.bitautoimg.com/autoalbum/files/20140902/516/17191151654530_3582714_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img2.bitautoimg.com/autoalbum/files/20140902/444/17191144452393_3582713_3.JPG" alt="" /></div>
                            </div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="text">
                        <dl>
                            <dt>
                                <span class="name"><a href="###">五菱荣光</a></span>
                                <span class="price">9.98-14.48万</span>
                            </dt>
                            <dd>排量 1.8T | 油耗 7.5-9.6L</dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <div class="car-card">
                    <div class="photos">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="http://img1.bitautoimg.com/autoalbum/files/20140902/564/17191156453810_3582716_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img4.bitautoimg.com/autoalbum/files/20140902/560/17191156059886_3582715_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img3.bitautoimg.com/autoalbum/files/20140902/516/17191151654530_3582714_3.JPG" alt="" /></div>
                                <div class="swiper-slide"><img src="http://img2.bitautoimg.com/autoalbum/files/20140902/444/17191144452393_3582713_3.JPG" alt="" /></div>
                            </div>
                            <!-- 如果需要导航按钮 -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="text">
                        <dl>
                            <dt>
                                <span class="name"><a href="###">五菱荣光</a></span>
                                <span class="price">9.98-14.48万</span>
                            </dt>
                            <dd>排量 1.8T | 油耗 7.5-9.6L</dd>
                        </dl>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="listPagination" class="list_pagination">
        <a href="javascript:void(0);" class="prev unclick">上一页</a>
        <a href="javascript:void(0);" class="num active">1</a>
        <a href="javascript:void(0);" class="num">2</a>
        <a href="javascript:void(0);" class="num">3</a>
        <a href="javascript:void(0);" class="num">4</a>
        <a href="javascript:void(0);" class="num">5</a>
        <a href="javascript:void(0);">...</a>
        <a href="javascript:void(0);" class="num">49</a>
        <a href="javascript:void(0);" class="next">下一页</a>
    </div>
</div>  <!-- end of screen-box -->

{{{htmlWebpackPlugin.options.footer}}}

<app-down></app-down>

<!-- <script src="{{htmlWebpackPlugin.options.dll.vue}}"></script> -->
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>