<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
        var CODE_GETTING_URL = '/Validate/GetCode';
        var CODE_VALIDATING_URL = '/Validate/CheckCode';
        var USERCENTERURL = 'http://i.m.daikuan.com';
        var APIURL = 'http://api.chedai.bitauto.com/';
        var RESURL = 'http://img1.bitautoimg.com/jinrong/newmweb/';
        var CDNFileURL = 'http://img1.bitautoimg.com/chedai/';
        var BusinessLine = 552;

         var localCity = {
            CityId: '114',
            CityName: '芜湖',
            CitySpell: 'wuhu',
            RegionId: '340200'
        };
        var source = '704';
        var xincheUrl = 'http://xinche.m.daikuan.com';
        var loginApiUrl = '/user/CreateAccount'
        var mobile = "18575832500"
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<div id="app">
    <div class="swiper-wrapper" slot="banner">
      <a class="swiper-slide" href=""><img src="http://placehold.it/750x320"></a>
      <a class="swiper-slide" href=""><img src="http://placehold.it/750x320"></a>
      <a class="swiper-slide" href=""><img src="http://placehold.it/750x320"></a>
    </div>
</div>
{{{htmlWebpackPlugin.options.footer}}}

<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>