<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"> 
    <meta name="format-detection" content="telephone=no"/>
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}
<script>
    var APIURL = "http://api.chedai.bitauto.com/";
    var xinche_m_url = "http://m.daikuan.com";
    var BusinessLine = 550;
    var noAppDown = "1018,1019,1020,1021";
    var expertBusinessLine = 550;
    var deviceId = "bfe2c7cc-e974-4ce9-9b72-c1eea185cfbd";
    var loanUserId = 3525883;
    var usercenter = "http://i.m.daikuan.com";
    var arrImg = ['http://img4.bitautoimg.com/jinrong/newmweb/css/usercenter/images/car-001.png?v=201701231744',
        'http://img2.bitautoimg.com/jinrong/newmweb/css/usercenter/images/car-002.png?v=201701231744',
        'http://img1.bitautoimg.com/jinrong/newmweb/css/usercenter/images/car-003.png?v=201701231744',
        'http://img3.bitautoimg.com/jinrong/newmweb/css/usercenter/images/car-004.png?v=201701231744',
        'http://img4.bitautoimg.com/jinrong/newmweb/css/usercenter/images/car-005.png?v=201701231744',
        'http://img2.bitautoimg.com/jinrong/newmweb/css/usercenter/images/car-006.png?v=201701231744',
        'http://img1.bitautoimg.com/jinrong/newmweb/css/usercenter/images/car-007.png?v=201701231744',
        'http://img3.bitautoimg.com/jinrong/newmweb/css/usercenter/images/car-008.png?v=201701231744'];
</script>
<div id="yxWrapper">
    <div id='wx_pic' style='margin: 0 auto; display: none;'>
        <img src='http://img3.bitautoimg.com/jinrong/newmweb/images/pic300.jpg?v=201701231744' alt="易鑫车贷" />
    </div>
    <input type="hidden" id="forgeryToken" value="mze-EBIVlfeDIy2kyHdyMRWWnL0vpfdhmjpLYgLBxFstgu915-4FDFUU4GoTcN1UiSkq72y-_ev4O62ELeev3r7zaM1_lKxVBHEUhAbol0s1,WdvQ2QJDgRKQx-7s_iKk74MXpmO9IbiloGAW0JQ1fCMZeJSZf2HAuFKbZ4jh1AcTXnmqnOz109CrfIFgXIXJ7VlcpaSFo00crlb2rPZOCkc1" />

    <header class="header-bar">
        <a href="javascript:history.back();"></a>
        <h1 class="font-nav">易问答</h1>
        <span class="font-title"></span>
    </header>
    <script src="http://img4.bitautoimg.com/jinrong/assets/headType.m/headTypeCookies.js?v=201701231744"></script>

    <article class="eQ-con">
        <header class="display-flex font-ctn eQ-title hide">
            <div data-businessline="550" class="flex1 font-28 businessLine cur">新车贷</div>
            <div data-businessline="551" class="flex1 font-28 businessLine">二手车贷</div>
            <div data-businessline="552" class="flex1 font-28 businessLine">车抵贷</div>
        </header>
        <footer id="eQWrapper">
            <!-- 新车 -->
            <dl>
                <dt class="expert font-24" data-expert="1" data-businessline="550">
                    <img src="http://img1.bitautoimg.com/chedai/1fea11aa-8108-45fe-ad29-7e76642e3c8c.jpg">
                    <b class="font-ctn">Cathy姐</b>易鑫车贷高级服务顾问
                <div>外企汽车金融公司4年从业经验，专业解决车贷难题</div>
                <label>美女顾问</label>
                <label>白骨精</label>
                <label>知心姐姐</label>
                </dt>
                <dd class="eQ-list">
                    <div class="eQ-list-title">
                        <div class="display-flex eQ-list-title-left">
                            <div class="flex1 font-ctn orderBy cur">最新</div>
                            <div class="flex1 font-ctn orderBy">最热</div>
                        </div>
                        <div class="eQ-list-title-right">
                            <div class="font-24">提问<font>11368</font>条</div>
                            <span class="font-24">回复<font>21</font>条</span>
                        </div>
                    </div>
                </dd>
            </dl>
            <!-- 二手车 -->
            <dl class="hide">
                <dt class="expert font-24" data-expert="2" data-businessline="551">
                    <img src="http://img1.bitautoimg.com/chedai/3356c1ab-9bf6-4a5d-923e-6aa56dac00b9.jpg">
                    <b class="font-ctn">周伯通</b>二手车高级顾问
                <div>二手车圈混迹多年，为您解决买车中的疑问</div>
                <label>男神</label>
                <label>专业性强</label>
                <label>男闺蜜</label>
                </dt>
                <dd class="eQ-list">
                    <div class="eQ-list-title">
                        <div class="display-flex eQ-list-title-left">
                            <div class="flex1 font-ctn orderBy cur">最新</div>
                            <div class="flex1 font-ctn orderBy">最热</div>
                        </div>
                        <div class="eQ-list-title-right">
                            <div class="font-24">提问<font>342</font>条</div>
                            <span class="font-24">回复<font>45</font>条</span>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="hide">
                <!-- 车抵贷 -->
                <dt class="expert font-24" data-expert="3" data-businessline="552">
                    <img src="http://img1.bitautoimg.com/chedai/49a2a76e-8902-4709-8995-49b3ee4f4da1.jpg">
                    <b class="font-ctn">COCO</b>车抵贷职业顾问
                <div>将手中的资产灵活变现，无需等待，有问题来找我</div>
                <label>细致周到</label>
                <label>热情</label>
                <label>态度好</label>
                </dt>
                <dd class="eQ-list">
                    <div class="eQ-list-title">
                        <div class="display-flex eQ-list-title-left">
                            <div class="flex1 font-ctn orderBy cur">最新</div>
                            <div class="flex1 font-ctn orderBy">最热</div>
                        </div>
                        <div class="eQ-list-title-right">
                            <div class="font-24">提问<font>454</font>条</div>
                            <span class="font-24">回复<font>31</font>条</span>
                        </div>
                    </div>
                </dd>
            </dl>
            <ul class="eQ-list-con font-24" id="eQListCon">
                <li v-for="item in listArr">
                    <dl>
                        <dt>
                            <img v-bind:src="item.QuestionUserHeadPortrait">
                            <b class="font-28" v-text="item.Question">为什么suv的大灯比轿车要亮？</b>用户:<span v-text="item.QuestionUserTel">151****9284</span>
                        </dt>
                        <dd v-bind:data-id="item.ID">
                            <img v-bind:src="item.HeadPicture">
                            <div class="font-ctn" v-text="item.Answer">这个往往suv车型，因为它的车身高度比较高，所以他在车灯的高度也就相应更高，也就意味着它的照射的距离会更长，视觉效果感觉会更好更亮。</div>
                            <span v-text="item.AnswerTimeText">1小时前</span><i v-bind:class="['agree-box',item.IsAgreedClass]">赞(<span v-text="item.PraiseCount">22</span>)</i>
                        </dd>
                    </dl>
                </li>

            </ul>
            <!-- 缺省页 -->
            <div class="eQDefault font-24 hide">
                <img src="http://img2.bitautoimg.com/jinrong/newmweb/css/xinche/images/eq_default.png?v=201701231744"><br />
                暂无数据
            </div>
            <!--加载 -->
            <div class="loading hide">
                <img src="http://img1.bitautoimg.com/jinrong/newmweb//images/loading_white.gif?v=201701231744" /><br />数据加载中
            </div>
            <div class="sliderUp-box font-ctn hide"></div>

        </footer>
    </article>
    <div class="placeholder"></div>

    <div class="ask-question">
        <div class="font-title questions-btn">我要提问</div>
        <span class="font-ctn other-expert">其他专家</span>
    </div>

    <div class="ask-question-layer hide">
        <header class="display-flex">
            <div class="flex1 font-title cancel-btn">取消</div>
            <div class="flex1 font-nav">提问</div>
            <div class="flex1 font-title release-btn">发布</div>
        </header>
        <footer>
            <textarea maxlength="40" class="font-title" id="qTextarea" placeholder="请输入内容，不超过40个字哦！"></textarea>
        </footer>
    </div>

    <div class="check-layer hide">
        <header class="font-32">
            易问答
            <i class="expert-icon"></i>
        </header>
        <footer>
            <div class="check-box">
                <div class="check-layer-title font-ctn">
                    <i class="expert-icon"></i>留下电话，回复将坐着火箭为您送达！
                </div>
                <div class="check-layer-phone font-ctn">手机号<input class="check-phone-input" id="mobileInput" type="number" placeholder="请输入手机号" /><i class="expert-icon hide"></i></div>
                <div class="check-layer-vCode font-ctn">验证码<input class="check-vCode-input" id="codeInput" type="number" placeholder="请输入验证码" /><i class="expert-icon hide"></i><div id="veCode">获取验证码</div></div>
                <div class="check-layer-btn font-32">确定</div>
            </div>

            <div class="success-box hide font-ctn">
                <i class="expert-icon"></i>
                <b class="font-title">发布成功！</b>
                问答专家会尽快为您反馈答复
            </div>
        </footer>
    </div>

    <div id="maskLayer"></div>
    <div class="bottom-to-top">
        <img src='http://img4.bitautoimg.com/jinrong/newmweb/images/scroll-to-top-icon.png?v=201701231744' />
    </div>
</div>


{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>