<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>

</head>
<script>
    //车款信息

</script>
<body>
{{{htmlWebpackPlugin.options.header}}}
<div id="yxWrapper">
    <div id="app">
        <!--头部-->
        <header class="header-bar">
            <a href="javascript:history.back();" class="nav-back"></a>
            <h1 class="font-nav">买车估值</h1>
            <span></span>
        </header>
        <!--the car info-->
        <div class="infopage" id="infopage">
            <div class="top_info">
                <h2>RAV4荣放 2016款 2.0L CVT 两驱 都市版 两驱 都市版</h2>
                <ul class="ul">
                    <li>
                        <h6 class="tit">2011年09月</h6>
                        <div class="txt">首次上牌</div>
                    </li>
                    <li>
                        <h6 class="tit">22837公里</h6>
                        <div class="txt">表显里程</div>
                    </li>
                    <li>
                        <h6 class="tit">北京</h6>
                        <div class="txt">上牌城市</div>
                    </li>
                    <li>
                        <h6 class="tit">国4</h6>
                        <div class="txt">排放标准</div>
                    </li>
                </ul>
            </div>
            <div class="tab_box">
                <ul class="tabs">
                    <li class="cur" data-id="0"><span>最新发布</span></li>
                    <li class="" data-id="1"><span>推荐车源</span></li>
                </ul>
                <div class="tab_cont_box">
                    <!--最新发布-->
                    <div class="conter">
                        <div class="line-box">
                            <div class="line-box2">
                                <div class="price">
                                    <div class="top">10.123万</div>
                                    <div class="down">建议交易价</div>
                                </div>
                            </div>
                            <div class="bot_box">
                                <div class="pri">
                                    <div class="l">10.03万</div>
                                    <div class="c">13.83万</div>
                                    <div class="r">13.83万<br><span>新车含税价</span></div>
                                </div>
                                <div class="txt">买车参考区间</div>
                            </div>
                            <div class="horizontal"></div>

                        </div>
                        <div class="infotxt">* 商家报价略高，因为商家保留一定的利润空间；</div>
                    </div>
                    <!--推荐车源-->
                    <div class="conter hide">
                        <div class="line-box">
                            <div class="line-box2">
                                <div class="price">
                                    <div class="top">10.03万</div>
                                    <div class="down">建议交易价</div>
                                </div>
                            </div>
                            <div class="bot_box">
                                <div class="pri">
                                    <div class="l">10.03万</div>
                                    <div class="c">13.83万</div>
                                    <div class="r">13.83万<br><span>新车含税价</span></div>
                                </div>
                                <div class="txt">买车参考区间</div>
                            </div>
                            <div class="horizontal"></div>

                        </div>
                        <div class="infotxt">* 个人报价略低，因为个人直卖无中间商赚差价。</div>
                    </div>
                </div>

            </div>
            <!--推荐车源-->
            <div class="recommended">
                <div class="title">推荐车源</div>
                <div class="cont_box">
                    <ul class="ul">
                        <li class="items">
                            <a href="item.url">
                                <div class="img"><img src="http://img5.taoche.cn/1c/02170lj4ka.jpg"></div>
                                <div class="info">
                                    <h6 class="tit">朗逸 2011款 2.0L 自动品悠自动品悠版</h6>
                                    <div class="txt">11.68万/2011年/6.4万公里</div>
                                    <div class="price_box">
                                        <div class="price_l">首付3.50万</div>
                                        <div class="price_r">全款11.68万</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="items">
                            <a href="item.url">
                                <div class="img"><img src="http://img5.taoche.cn/1c/02170lj4ka.jpg"></div>
                                <div class="info">
                                    <h6 class="tit">朗逸 2011款 2.0L 自动品悠自动品悠版</h6>
                                    <div class="txt">11.68万/2011年/6.4万公里</div>
                                    <div class="price_box">
                                        <div class="price_l">首付3.50万</div>
                                        <div class="price_r">全款11.68万</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="btn_box"><a href="#" class="btn_more">更多车源<i></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{htmlWebpackPlugin.options.common}}"></script>
{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>