<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
    <script>
        var locationCityId = 201;
        var xinche='http://www.daikuan.com';
        var citySpell = 'beijing';
        var USERCENTERURL='http://i.daikuan.com';
        var APIURL = "http://api.chedai.bitauto.com/";
        var RESURL = "http://img1.bitautoimg.com/jinrong/newpcweb/";
        var CODE_GETTING_URL='/Login/GetCode';
        var CODE_VALIDATING_URL='/Login/CheckCode';
        var domainQueue = ["img1.bitautoimg.com","img2.bitautoimg.com","img3.bitautoimg.com","img4.bitautoimg.com"];
        var BusinessLine = 550;
        var returnurl = "http://www.daikuan.com/beijing/";
        // var loadsign = 'login';
        var loadsign = false;
        var headerBusiFlag = "1";
        var headerFunFlag = "0";
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div class="forgetPwd">
    <div class="for-ctn bor-box">
        <div class="ctn-header">
            <div class="header-text">找回密码</div>
        </div>
        <blockquote id="nav" class="nav">
            <div class="step-box step01"></div>
        </blockquote>
        <article>
            <!-- 第一步 -->
            <blockquote id="form01" class="forget-box sideTip">
                <div class="pad10B pad30RL pad175L clrfix">
                    <div class="input-item fl clrfix">
                        <div class="icon-box fl"><i class="icon icon01"></i></div>
                        <div class="input-box fl"><input id="mobile" name="mobile" type="text" maxlength="11" class="AppCheck unsubmit nocheck sideTip data" placeholder="手机号"></div>
                    </div>
                    <div class="jyts bor-box font-red fl"><i class="waring"></i><span>您输入的手机号有误</span></div>
                </div>

                <div class="pad10B pad30RL pad175L clrfix">
                    <div class="input-item fl clrfix w-210">
                        <div class="icon-box fl"><i class="icon icon03"></i></div>
                        <div class="input-box fl"><input id="ImgValidateCode1" name="imgValidateCode" type="text" maxlength="4" class="AppCheck nocheck unsubmit sideTip data w-150" placeholder="验证码"></div>
                    </div>
                    <div class="fl GetImgValidateCode"><img src=""></div>
                    <div class="jyts bor-box font-red fl"><i class="waring"></i><span>您输入的验证码有误</span></div>
                </div>
                <div id="step-btn01" data-id="1" class="btn step-btn">提交</div>
            </blockquote>

            <!-- 第二步 -->
            <blockquote id="form02" class="forget-box sideTip hide">
                <div class="pad175L checked-num" style="font-size: 16px;">
                    您验证的手机号码为：<span class="telEvent">152-1095-9638</span>
                </div>
                <div class="pad10B pad30RL pad175L clrfix">
                    <div class="input-item fl clrfix w-210">
                        <div class="input-box fl"><input id="ValidateCode1" name="mobileValidateCode" type="text" maxlength="6" class="AppCheck unsubmit w-150  data sideTip" placeholder="请输入短信验证码" style="height:30px; line-height:30px;"></div>
                    </div>
                    <div id="GetValidateCode" class="fl btn code-btn" style="font-size: 16px;">获取验证码</div>
                    <div class="jyts bor-box font-red fl"><i class="waring"></i><span>您输入的验证码有误</span></div>
                </div>

                <input name="mobile" type="hidden" value="" class="data">

                <div class="btn-group pad175L clrfix">
                    <div id="step-btn02" data-id="2" class="sbtn sbtn01 fl">下一步</div>
                    <div id="reback" data-id="2" class="sbtn sbtn02 fl">上一步</div>
                </div>
            </blockquote>

            <!-- 第三步 -->
            <blockquote id="form03" class="forget-box sideTip hide">
                <div class="pad10B pad30RL pad175L clrfix">
                    <div class="input-item fl clrfix">
                        <div class="fl input-name">新密码</div>
                        <div class="input-box fl"><input id="password" name="password" type="password" minlength="6" maxlength="20" class="AppCheck unsubmit nocheck sideTip data" placeholder="请输入新密码" data-special="密码格式"></div>
                    </div>
                    <div class="jyts bor-box font-red fl"><i class="waring"></i><span>您输入的密码格式有误</span></div>
                </div>
                <div class="checked-num">
                    密码不能为纯数字，8-20位
                </div>

                <div class="pad10B pad30RL pad175L clrfix">
                    <div class="input-item fl clrfix">
                        <div class="fl input-name">确认新密码</div>
                        <div class="input-box fl"><input id="checkPassword" name="checkPassword" type="password" minlength="6" maxlength="20" class="AppCheck unsubmit nocheck sideTip" placeholder="请确认新密码"></div>
                    </div>
                    <div class="jyts bor-box font-red fl"><i class="waring"></i><span>您两次输入的密码不一致</span></div>
                </div>

                <input name="mobile" type="hidden" value="" class="data">
                <input name="mobileValidateCode" type="hidden" value="" class="data">

                <div class="btn-group pad175L clrfix">
                    <div id="step-btn03" data-id="3" class="sbtn sbtn01 fl">确认修改</div>
                    <div id="reback03" data-id="3" class="sbtn sbtn02 fl">上一步</div>
                </div>
            </blockquote>

            <!-- 第四步 -->
            <blockquote id="form04" class="forget-box pad280 hide">
                <div class="clrfix success-box">
                    <label class="fl success-icon"></label>
                    <div class="fl success-ctn">
                        <div class="success-tit">密码修改成功！</div>
                        <div class="success-des">请牢记新密码，如有疑问请拨打4000-169-169客服热线</div>
                    </div>
                </div>
                <a href="/Login?returnurl=http%253a%252f%252ftest.xinche.daikuan.com" class="btn btn-gray font-9 re-login">重新登录</a>
            </blockquote>
        </article>
        <input type="hidden" name="__RequestVerificationToken" id="__RequestVerificationToken" data-id="AnZO52xWVXS0VSpfUkPJduuVqOwhRvtn7uT543Q0Zfqz2d-bNnrMM-U90n7kFQ3n857E8P0G_43DiHtv46v9JmL4aiM1" value="AnZO52xWVXS0VSpfUkPJduuVqOwhRvtn7uT543Q0Zfqz2d-bNnrMM-U90n7kFQ3n857E8P0G_43DiHtv46v9JmL4aiM1">
    </div>
</div>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>