<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
    <script type="text/javascript">
        var footerBusiFlag = "1";
        var footerFunFlag = "0";
        var citySpell = 'beijing';
        var APIURL = "http://api.chedai.bitauto.com/";
        var RESURL = "http://img1.bitautoimg.com/jinrong/newpcweb/";
        var USERCENTERURL = "http://i.daikuan.com/";
        var BusinessLine = 550;
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div class="layx" style="margin-bottom:20px;">
    <div class="layx-con">
        <div class="layx2" style="padding:90px 50px 40px 50px;">
            <div class="layx23">
                <p class="layx23-zzyx">你提供的资质有限，暂时无法评估您的额度</p>
                <p class="layx23-gwlx">服务顾问会在2小时内联系您，线下补充资质获得审批额度，请保持手机畅通。</p>
                <p class="layx23-fhsy"><a href="http://www.daikuan.com">返回首页</a></p>
            </div>
            <div class="layx24" style="display:none;">
                <div class="layx24-t">推荐您申请以下金融产品</div>
                <div class="layx24-c">
                    <div class="layx24-c1">
                        <div class="layx24-c1-yh"><img src="" width="30px" height="30px"/><span>招商银行</span> 够易贷0首付 <img src="" width="25px" height="25px" style="margin-left:10px;"/></div>
                        <div class="layx24-c1-sq"><img src="" width="14px" height="12px"/>113267人已申请 好评率89%</div>
                    </div>
                    <div class="layx24-c2">
                        <div class="layx24-c21">
                            <div class="layx24-c21-xy">需信用良好 需本地工作</div>
                            <div>
                                <img src=""/><span>极速审批</span>
                                <img src=""/><span>资料简单</span>
                                <img src=""/><span>极速审批</span>
                            </div>
                        </div>
                        <div class="layx24-c22">
                            <div>月&nbsp;&nbsp;供 <span>3258</span> 元</div>
                            <div>总成本 <span>1.01</span> 万</div>
                        </div>
                        <div class="layx24-c23">
                            <a href="javascript:;">查看详情</a>
                            <a href="javascript:;" style="margin-top:20px;background:#fff;border:1px solid #ff6446;width:108px;height:30px;color:#ff6446;">立即申请</a>
                        </div>
                    </div>
                </div>
                <div class="layx24-c">
                    <div class="layx24-c1">
                        <div class="layx24-c1-yh"><img src="" width="30px" height="30px"/><span>招商银行</span> 够易贷0首付 <img src="" width="25px" height="25px" style="margin-left:10px;"/></div>
                        <div class="layx24-c1-sq"><img src="" width="14px" height="12px"/>113267人已申请 好评率89%</div>
                    </div>
                    <div class="layx24-c2">
                        <div class="layx24-c21">
                            <div class="layx24-c21-xy">需信用良好 需本地工作</div>
                            <div>
                                <img src=""/><span>极速审批</span>
                                <img src=""/><span>资料简单</span>
                                <img src=""/><span>极速审批</span>
                            </div>
                        </div>
                        <div class="layx24-c22">
                            <div>月&nbsp;&nbsp;供 <span>3258</span> 元</div>
                            <div>总成本 <span>1.01</span> 万</div>
                        </div>
                        <div class="layx24-c23">
                            <a href="javascript:;">查看详情</a>
                            <a href="javascript:;" style="margin-top:20px;background:#fff;border:1px solid #ff6446;width:108px;height:30px;color:#ff6446;">立即申请</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{{htmlWebpackPlugin.options.footer}}}
<script src="{{htmlWebpackPlugin.options.dll.react}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>
</html>