<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
    </script>
</head>
<body>
{{{htmlWebpackPlugin.options.header}}}

<div id="main">
    <button @click="apply">身份认证通过</button>
    <apply-entrance apply-link="../myfiles/myfiles.html" @close="close" v-if="showApply" transition="fade"></apply-entrance>
</div>

{{{htmlWebpackPlugin.options.footer}}}

<script src="{{htmlWebpackPlugin.options.common}}"></script>
<script src="{{htmlWebpackPlugin.options.dll.vue}}"></script>
<script src="{{htmlWebpackPlugin.options.script}}"></script>

</body>
</html>