<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8"> {{{htmlWebpackPlugin.options.shim}}}
    <script src="{{htmlWebpackPlugin.options.common}}"></script>
</head>

<body>
    {{{htmlWebpackPlugin.options.header}}}
    <script src="{{htmlWebpackPlugin.options.dll.react}}"></script>
    <script type="text/javascript">
    var cityInfo= {
        cityId: "201",
        cityName: "天津",
        citySpell: "tianjin",
        regionId: "120100",
        selectCityLevel: "2",
        selectCityName: "天津市"
    };
//    var city = {
//        cityId: "2821",
//        cityName: "博尔塔拉蒙古自治州",
//        citySpell: "boertalamengguzizhizhou",
//        regionId: "652700",
//        selectCityLevel: "0",
//        selectCityName: ""
//    };



    var xincheUrl="http://192.168.145.9:8040/";
    var ershoucheUrl = "http://test.ershouche.daikuan.com/";
    var RESURL = "http://img1.bitautoimg.com/jinrong/newpcweb/";

    //易问答 点赞 要的数据
    var loanUserId = 22; var deviceId = 90;
    var source = 775;
    //城市信息
    //        var cityInfo = {
    //            cityId: "2113",
    //            cityName: "滨州",
    //            citySpell: "binzhou",
    //            regionId: "371600",
    //            selectCityLevel: "2",
    //            selectCityName: "滨州市"
    //        };
</script>
    <!--<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide red-slide">
            <div class="title">Slide 1</div>
        </div>
        <div class="swiper-slide blue-slide">
            <div class="title">Slide 2</div>
        </div>
        <div class="swiper-slide orange-slide">
            <div class="title">Slide 3</div>
        </div>
    </div>
    <div class="pagination"></div>
</div>-->
    <div id="app">
        <!-- 导航轮播start -->
        <img src="http://192.168.147.130:8080///img1.bitautoimg.com/chedai/48a0b71a-5d95-44b7-a317-58a39b6be8bf.jpg">
        <section class="er_Banner" id="erBanner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="http://img1.bitautoimg.com/chedai/48a0b71a-5d95-44b7-a317-58a39b6be8bf.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="http://img1.bitautoimg.com/chedai/48a0b71a-5d95-44b7-a317-58a39b6be8bf.jpg">
                    </div>
                </div>
                <div class="pagination"></div>
            </div>
            <div class="c2b_index_box_p">
                <!-- 先拿钱 放心看车 start -->
                <div class="c2b_index_bnner">
                    <ul class="c2b_index_ul">
                        <li class="icon_01">
                            <i class="icon"></i>
                            <span class="">顾问陪同</span>
                        </li>
                        <li class="icon_02">
                            <i class="icon"></i>
                            <span class="">秒出额度</span>
                        </li>
                        <li class="icon_03">
                            <i class="icon"></i>
                            <span class="">手续简单</span>
                        </li>
                    </ul>
                    <div class="btn_box">
                        <a href="/c2b/index?line=1" target="_blank" class="shade-apply">立即申请</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- 导航轮播end -->
        <!-- 平台优势 start -->
        <section class="selling-point-box">
            <ul class="selling_point_ul">
                <li class="li01"><i class="icon_li_1"></i><span class="tit_big">60+万台保障车，超多金融产品</span><span class="tit_samll">每天5000+用户申请</span></li>
                <li class="li02"><i class="icon_li_2"></i><span class="tit_big">最快10秒钟在线审批</span><span class="tit_samll">最快可当日放款</span></li>
                <li class="li03"><i class="icon_li_3"></i><span class="tit_big">无忧申请0首付</span><span class="tit_samll">还款期限最长达36个月</span></li>
                <li class="li04"><i class="icon_li_4"></i><span class="tit_big">线上选车选贷款</span><span class="tit_samll">信息公开，省时更省心</span></li>
                <li class="li05"><i class="icon_li_5"></i><span class="tit_big">专家级顾问线下陪同</span><span class="tit_samll">1对1一站式免费服务</span></li>
            </ul>
        </section>
        <!-- 搜索start -->
        <section class="search_box">
            <div class="search">
                <div class="search_wrap">
                    <i class="icon_search"></i>
                    <div class="search_input_wrap">
                        <input type="text" placeholder="请输入心仪品牌或车型..." class="search_input" value="" />
                    </div>
                    <div class="search_btn">搜索</div>
                </div>
                <a class="other_search" href="/Home/ListPage#source=633" target="_blank">先去逛逛<i></i></a>
            </div>
        </section>
        <!-- 最近申请start -->
        <section class="recent_box wrap_width">
            <dl class="recent_application">
                <dt>最近申请：</dt>
                <dd id="swiperRecent">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">黄先生&nbsp;&nbsp;&nbsp;平安银行&nbsp;&nbsp;&nbsp; 额度 3.20 万&nbsp;&nbsp;&nbsp;1分钟前</div>
                            <div class="swiper-slide">黄先生&nbsp;&nbsp;&nbsp;平安银行&nbsp;&nbsp;&nbsp; 额度 3.20 万&nbsp;&nbsp;&nbsp;1分钟前</div>
                            <div class="swiper-slide">黄先生&nbsp;&nbsp;&nbsp;平安银行&nbsp;&nbsp;&nbsp; 额度 3.20 万&nbsp;&nbsp;&nbsp;1分钟前</div>
                        </div>
                    </div>
                </dd>
            </dl>
        </section>
        <!--最近成交  -->
        <section class="recent_deal_bg">
            <div class="wrap_width">
                <header class="title"><span class="tit_line"></span><i class="icon_recent"></i>最近成交<span class="tit_line"></span></header>
                <div class="recent_Deal_con">
                    <a href="home/HotSalesRanking" target="_blank" class="recent_Deal_l">
                        <div class="top_info_box">
                            <span class="price f_16">&nbsp;</span>
                        </div>
                        <dl class="bot_info_dl">
                            <dd class="bot_info_dd">
                                <span class="f_16">平均首付</span>
                                <span class="price"><font class="f_26">25731</font><font class="f_16"> 元/台</font></span>
                            </dd>
                            <dd class="bot_info_dd">
                                <span class="f_16">平均月供</span>
                                <span class="price"><font class="f_26">1656</font><font class="f_16"> 元/台</font></span>
                            </dd>
                        </dl>
                    </a>
                    <ul class="recent_Deal_ul" id="content">
                        <li class="item">
                            <a target="_blank" href="/home/details?UCarId=s23381&amp;cityId=201&amp;productId=118918&amp;source=890">
                                <div class="product_img"><span class="deal_img"></span><img src="http://img1.bitautoimg.com/chedai/27625fa3-51b7-4ce7-8d24-699509d8e3e4.jpg"
                                        class="picImg"></div>
                                <div class="Deal_car_info">
                                    <div class="car_Deal_name">奥迪A6L 35 FSI quattro 豪华型</div>
                                    <div class="car_Deal_loan">首付 <em>9.30万</em> 月供 <em>7510元</em></div>
                                    <div class="car_Deal_save"><span class="txt_s"><em class="sheng">省</em><em class="price">41.68万</em></span></div>
                                </div>
                            </a>
                        </li>
                        <li class="item">
                            <a target="_blank" href="/home/details?UCarId=s23381&amp;cityId=201&amp;productId=118918&amp;source=890">
                                <div class="product_img"><span class="deal_img"></span><img src="http://img1.bitautoimg.com/chedai/27625fa3-51b7-4ce7-8d24-699509d8e3e4.jpg"
                                        class="picImg"></div>
                                <div class="Deal_car_info">
                                    <div class="car_Deal_name">奥迪A6L 35 FSI quattro 豪华型</div>
                                    <div class="car_Deal_loan">首付 <em>9.30万</em> 月供 <em>7510元</em></div>
                                    <div class="car_Deal_save"><span class="txt_s"><em class="sheng">省</em><em class="price">41.68万</em></span></div>
                                </div>
                            </a>
                        </li>
                        <li class="item">
                            <a target="_blank" href="/home/details?UCarId=s23381&amp;cityId=201&amp;productId=118918&amp;source=890">
                                <div class="product_img"><span class="deal_img"></span><img src="http://img1.bitautoimg.com/chedai/27625fa3-51b7-4ce7-8d24-699509d8e3e4.jpg"
                                        class="picImg"></div>
                                <div class="Deal_car_info">
                                    <div class="car_Deal_name">奥迪A6L 35 FSI quattro 豪华型</div>
                                    <div class="car_Deal_loan">首付 <em>9.30万</em> 月供 <em>7510元</em></div>
                                    <div class="car_Deal_save"><span class="txt_s"><em class="sheng">省</em><em class="price">41.68万</em></span></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- 畅销品牌惠 start -->
        <section class="brand wrap_width">
            <header class="title"><span class="tit_line"></span><i class="icon_recent"></i>畅销品牌惠<span class="tit_line"></span></header>
            <div class="brand_con">
                <ul class="brand_ul clrfix">
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz" src="" alt="大众"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_logo"><img class="hot_dz lazy" title="大众" alt="大众" src="" data-original="http://image.bitautoimg.com/bt/car/default/images/logo/masterbrand/png/100/m_8_100.png"></div>
                            <div class="car_name">大众</div>
                            <div class="hover">
                                <span class="f_18">泡妞神器</span>
                                <span class="f_14">月供7800元起</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="car_more"></div>
                            <div class="car_name">更多</div>
                        </a>
                    </li>

                </ul>
            </div>
        </section>
        <!---花小钱开好车-->
        <section class="good_car_bg">
            <div class="wrap_width">
                <header class="title"><span class="tit_line"></span><i class="icon_recent"></i>花小钱开好车<span class="tit_line"></span></header>
                <div class="goodcar" id="goodcar">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                        </div>
                    </div>
                    <div class="tabs_box_r">
                        <div class="frist">首付</div>
                        <div class="tabs"> <a href="#" class="active">2万以下</a> <a href="#">2-3万</a> <a href="#">3-5万</a><a href="#">5-10万</a>
                            <a
                                href="#">10万以上</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!---爆款车型-->
        <section class="wrap_width hot_models">
            <header class="title"><span class="tit_line"></span><i class="icon_recent"></i>爆款车型<span class="tit_line"></span></header>
            <div class="hot_models_car">
                <div class="hot_models_bannner" id="hotbannner">
                    <a class="arrow-left" href="javascript:;"></a>
                    <a class="arrow-right" href="javascript:;"></a>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img class="lazy" title="大众" alt="大众" src="http://img3.bitautoimg.com/jinrong/newpcweb/images/ershouche/popular-car.png"></div>
                            <div class="swiper-slide"><img class="lazy" title="大众" alt="大众" src="http://t.image.bitautoimg.com/chedai/e0369964-951f-4c20-a325-1ba464acff67.png"></div>
                            <div class="swiper-slide"><img class="lazy" title="大众" alt="大众" src="http://img3.bitautoimg.com/jinrong/newpcweb/images/ershouche/popular-car.png"></div>
                            <div class="swiper-slide"><img class="lazy" title="大众" alt="大众" src="http://t.image.bitautoimg.com/chedai/e0369964-951f-4c20-a325-1ba464acff67.png"></div>
                        </div>
                        <div class="pagination"></div>
                    </div>
                </div>
                <ul class="hot_models_ul">
                    <li class="">
                        <a href="#">
                            <div class="tit_car">七座MPV</div>
                            <div class="tit_down col_blue">首付5000起</div>
                            <div class="img"><img class="lazy" title="准新车" alt="准新车" src="" data-original="http://img1.bitautoimg.com/autoalbum/files/20160721/384/1107473842_6.jpg"></div>
                            <div class="car_number">已售1365辆</div>
                            <div class="hover">
                                <span class="btn_red">点击抢购</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="tit_car">练手车</div>
                            <div class="tit_down col_yellow">首付低至2000起</div>
                            <div class="img"><img class="lazy" title="准新车" alt="准新车" src="" data-original="http://img1.bitautoimg.com/autoalbum/files/20160721/384/1107473842_6.jpg"></div>
                            <div class="car_number">已售1365辆</div>
                            <div class="hover">
                                <span class="btn_red">点击抢购</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="tit_car">准新车</div>
                            <div class="tit_down col_pink">首付4000起</div>
                            <div class="img"><img class="lazy" title="准新车" alt="准新车" src="" data-original="http://img1.bitautoimg.com/autoalbum/files/20160721/384/1107473842_6.jpg"></div>
                            <div class="car_number">已售1365辆</div>
                            <div class="hover">
                                <span class="btn_red">点击抢购</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="tit_car">商务范儿</div>
                            <div class="tit_down col_blues">首付2万，精英尊享</div>
                            <div class="img"><img class="lazy" title="准新车" alt="准新车" src="" data-original="http://img1.bitautoimg.com/autoalbum/files/20160721/384/1107473842_6.jpg"></div>
                            <div class="car_number">已售1365辆</div>
                            <div class="hover">
                                <span class="btn_red">点击抢购</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="tit_car">微型车</div>
                            <div class="tit_down col_purple">首付低至600起</div>
                            <div class="img"><img class="lazy" title="准新车" alt="准新车" src="" data-original="http://img1.bitautoimg.com/autoalbum/files/20160721/384/1107473842_6.jpg"></div>
                            <div class="car_number">已售1365辆</div>
                            <div class="hover">
                                <span class="btn_red">点击抢购</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="tit_car">豪华车</div>
                            <div class="tit_down col_green">首付最低4000起</div>
                            <div class="img"><img class="lazy" title="准新车" alt="准新车" src="" data-original="http://img1.bitautoimg.com/autoalbum/files/20160721/384/1107473842_6.jpg"></div>
                            <div class="car_number">已售1365辆</div>
                            <div class="hover">
                                <span class="btn_red">点击抢购</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!--贷款顾问-->
        <div class="adviser_bg">
            <div class="index-adviser-div wrap_width clrfix">
                <a class="index-adviser-linklist"><img class="lazy" title="准新车" alt="准新车" src="" data-original="../../images/adivse_banner1.html.jpg"></a>
                <a class="index-adviser-info adviser-youbian" href="/Adviser/Detail/65" target="_blank">
                    <img class="adviser-start-list-img" src="http://image.bitautoimg.com/jinrong/2016/08/08/a28af2a8-3460-4050-a7d7-f350c35bcb2a.png">
                    <div class="adviser-start-list-div">
                        <div class="adviser-start-list-name"><span class="adviser-start-list-text-name"><em>曲炳燚</em><i class="level3">金牌顾问</i></span><span class="adviser-start-list-text-stars"><s style="width:80%"></s></span></div>
                        <div class="adviser-start-list-des">
                            <span class="adviser-start-list-des-fl">从业10年 - 已帮1174人贷款</span>

                        </div>
                        <div class="adviser-start-list-tag">
                            <span>反馈快 (20)</span>
                            <span>态度好 (19)</span>
                            <span>服务好 (16)</span>
                        </div>
                        <div class="adviser-imglist">
                            <span class="adviser-start-list">4008155609<em>转</em>1253</span>
                        </div>
                    </div>
                </a>
                <a class="index-adviser-info " href="/Adviser/Detail/55" target="_blank">
                    <img class="adviser-start-list-img" src="http://image.bitautoimg.com/jinrong/2016/08/08/ab4d59fa-99e1-4983-ae53-57da95f8b9e6.png">
                    <div class="adviser-start-list-div">
                        <div class="adviser-start-list-name"><span class="adviser-start-list-text-name"><em>曲炳燚</em><i class="level3">金牌顾问</i></span><span class="adviser-start-list-text-stars"><s style="width:80%"></s></span></div>
                        <div class="adviser-start-list-des">
                            <span class="adviser-start-list-des-fl">从业10年 - 已帮1174人贷款</span>

                        </div>
                        <div class="adviser-start-list-tag">
                            <span>反馈快 (20)</span>
                            <span>态度好 (19)</span>
                            <span>服务好 (16)</span>
                        </div>
                        <div class="adviser-imglist">
                            <span class="adviser-start-list">4008155609<em>转</em>1253</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--低价豪车-->
        <div class="wrap_width cheap_cars">
            <header class="title"><span class="tit_line"></span><i class="icon_recent"></i>低价豪车<span class="tit_line"></span></header>
            <ul class="cheap_cars_ul clrfix">
                <li class="li_car_01">
                    <a href="#"><img class="lazy" title="去抢豪车" alt="去抢豪车" src="" data-original="http://img3.bitautoimg.com/jinrong/newpcweb//images/ershouche/down-left.png?v=201608091965">
                        <span
                            class="btn_red">去抢豪车</span>
                    </a>
                </li>
                <li class="li_car_02">
                    <a href="#"><img class="lazy" title="去抢豪车" alt="去抢豪车" src="" data-original="http://img3.bitautoimg.com/jinrong/newpcweb//images/ershouche/down-left.png?v=201608091965">
                        <span
                            class="btn_red">去抢豪车</span>
                    </a>
                </li>
                <li class="li_car_03">
                    <a href="#"><img class="lazy" title="去抢豪车" alt="去抢豪车" src="" data-original="http://img3.bitautoimg.com/jinrong/newpcweb//images/ershouche/down-left.png?v=201608091965">
                        <span
                            class="btn_red">去抢豪车</span>
                    </a>
                </li>
                <li class="li_car_04">
                    <a href="#"><img class="lazy" title="去抢豪车" alt="去抢豪车" src="" data-original="http://img3.bitautoimg.com/jinrong/newpcweb//images/ershouche/down-left.png?v=201608091965">
                        <span
                            class="btn_red">去抢豪车</span>
                    </a>
                </li>
                <li class="li_car_05">
                    <a href="#"><img class="lazy" title="去抢豪车" alt="去抢豪车" src="" data-original="http://img3.bitautoimg.com/jinrong/newpcweb//images/ershouche/down-left.png?v=201608091965">
                        <span
                            class="btn_red">去抢豪车</span>
                    </a>
                </li>
                <li class="li_car_06">
                    <a href="#"><img class="lazy" title="去抢豪车" alt="去抢豪车" src="" data-original="http://img3.bitautoimg.com/jinrong/newpcweb//images/ershouche/down-left.png?v=201608091965">
                        <span
                            class="btn_red">去抢豪车</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- botttom banner-->
        <div class="bottom_banner" id="middleswiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="" href="#"><img class="lazy polling" src="http://img1.bitautoimg.com/chedai/6d0bcc9b-3075-4f1f-83d9-c0eb059c3584.png"></a>
                    </div>
                </div>
                <div class="pagination"></div>
            </div>
        </div>
        <!--贷款流程-->
        <div class="loan_step_bg">
            <div class="loan_step wrap_width">
                <header class="title"><span class="tit_line"></span><i class="icon_recent"></i>贷款流程<span class="tit_line"></span></header>
                <div class="loan_step_img"></div>
            </div>
        </div>
        <!--易问答 start-->
        <div class="adviser wrap_width">
            <header class="title"><span class="tit_line"></span><i class="icon_recent"></i>易问答<span class="tit_line"></span></header>
            <div class="adviser-card">
                <div class="portrait">
                    <img src="http://img1.bitautoimg.com/chedai/1fea11aa-8108-45fe-ad29-7e76642e3c8c.jpg">
                </div>
                <div class="text">
                    <div class="adviser-name">
                        <span class="name">Cathy姐</span>
                        <span class="sep">|</span>
                        <span class="tit">易鑫车贷高级服务顾问</span>
                    </div>
                    <div class="intro">外企汽车金融公司4年从业经验，专业解决车贷难题</div>
                    <div class="tags">
                        <span>美女顾问</span>
                        <span>白骨精</span>
                        <span>知心姐姐</span>
                    </div>
                    <div class="btnwrap">
                        <a href="javascript:void(0)" class="ask-btn">点我提问</a>
                    </div>
                </div>
            </div>
            <div class="adviser_con">
                <div class="adviser_con_title">
                    <div class="his">TA的最新问答</div>
                    <div class="qa">提问<span class="col_red">10</span>条 | 回复<span class="col_red">10</span>条</div>
                    <a href="#" class="more">查看更多</a>
                </div>
                <div class="qa-section">
                    <dl class="qa-list">
                        <dt class="question">
                            <span class="portrait">
                                                <img src="http://img1.bitautoimg.com/jinrong/newpcweb/css/gerenzhongxin/images/car-001.png" alt="">
                                            </span>
                            <span class="text">
                                                <span class="qname">美丽夕阳</span>
                            <span class="qtit">买二手车最看中什么？
</span>
                            </span>
                        </dt>
                        <dd class="answer">
                            <span class="portrait">
                                                <img src="http://img1.bitautoimg.com/chedai/3356c1ab-9bf6-4a5d-923e-6aa56dac00b9.jpg" alt="">
                                            </span>
                            <span class="text">
                                                性价比高以及商家信誉度，易鑫车贷是易车、腾讯、京东、百度共同投资超过60亿的中国领先互联网汽车金融平台，二手车平...<span
                                class="time">3天前</span>
                            </span>
                        </dd>
                        <dt class="question">
                            <span class="portrait">
                                                <img src="http://img1.bitautoimg.com/jinrong/newpcweb/css/gerenzhongxin/images/car-002.png" alt="">
                                            </span>
                            <span class="text">
                                                <span class="qname">133****8491</span>
                            <span class="qtit">自己检查二手车，都应该关注哪些点？
</span>
                            </span>
                        </dt>
                        <dd class="answer">
                            <span class="portrait">
                                                <img src="http://img1.bitautoimg.com/chedai/3356c1ab-9bf6-4a5d-923e-6aa56dac00b9.jpg" alt="">
                                            </span>
                            <span class="text">
                                                1、测试水温，风扇是否正常2、高速是否跑偏，四轮定位是否需要做，轮胎是否需要换3、主动安全配置是否正常4、车身异...<span
                                class="time">3天前</span>
                            </span>
                        </dd>
                        <dt class="question">
                            <span class="portrait">
                                                <img src="http://img1.bitautoimg.com/jinrong/newpcweb/css/gerenzhongxin/images/car-003.png" alt="">
                                            </span>
                            <span class="text">
                                                <span class="qname">阿六</span>
                            <span class="qtit">买二手车贷款，银行都对车辆都有哪些限制？</span>
                            </span>
                        </dt>
                        <dd class="answer">
                            <span class="portrait">
                                                <img src="http://img1.bitautoimg.com/chedai/3356c1ab-9bf6-4a5d-923e-6aa56dac00b9.jpg" alt="">
                                            </span>
                            <span class="text">
                                                金融机构一般要求车龄5年以内，行驶里程在10万公里以内，成交价在8万元以上，符合以上几点即可办理。需要注意的是：...<span
                                class="time">3天前</span>
                            </span>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>
        <!--我们承诺 start-->
        <div class="We_are_committed_bg">
            <div class="wrap_width">
                <header class="title"><span class="tit_line"></span><i class="icon_recent"></i>我们承诺<span class="tit_line"></span></header>
                <ul class="We_are_ul">
                    <li>
                        <div class="icon_box icon_01"></div>
                        <div class="txt_info">
                            <div class="tit">车源保证</div>
                            <div class="txt">车源有保障，没有事故车</div>
                        </div>
                    </li>
                    <li>
                        <div class="icon_box  icon_02"></div>
                        <div class="txt_info">
                            <div class="tit">信息相符</div>
                            <div class="txt">车辆信息真实可靠</div>
                        </div>
                    </li>
                    <li>
                        <div class="icon_box  icon_03"></div>
                        <div class="txt_info">
                            <div class="tit">检测规范</div>
                            <div class="txt">车辆具有符合国家规范<br/>检测证明</div>
                        </div>
                    </li>
                    <li>
                        <div class="icon_box  icon_04"></div>
                        <div class="txt_info">
                            <div class="tit">保护消费者</div>
                            <div class="txt">若真实情况与发布信息不符<br/>可申诉获得赔偿</div>
                        </div>
                    </li>
                    <li>
                        <div class="icon_box  icon_05"></div>
                        <div class="txt_info">
                            <div class="tit">精准评估</div>
                            <div class="txt">由第三方公信力二手车<br/>估价平台精真估提供</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--合作机构 start-->
        <div class="footSwiper_bg">
            <div class="wrap_width">
                <header class="title"><span class="tit_line"></span><i class="icon_recent"></i>合作机构<span class="tit_line"></span></header>
                <!--合作机构轮播   替换.swiper-slide上 background-image:url()中的值即可-->
                <div id="footSwiper" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../../images/index_bottom_logo_01.html.jpg" /></div>
                        <div class="swiper-slide"><img src="../../images/index_bottom_logo_01.html.jpg" /></div>
                        <div class="swiper-slide"><img src="../../images/index_bottom_logo_01.html.jpg" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{{htmlWebpackPlugin.options.footer}}}
    <script src="{{htmlWebpackPlugin.options.dll.react}}"></script>
    <script src="{{htmlWebpackPlugin.options.script}}"></script>
</body>

</html>